<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>M</key>
    <string>M_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>b.alt</key>
    <string>b.alt.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>d.alt</key>
    <string>d.alt.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen.copy_1</key>
    <string>hyphen.copy_1.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
  </dict>
</plist>
