<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.andyclymer.ScaleAndAdjustSettings</key>
    <dict>
      <key>infoOption</key>
      <integer>1</integer>
      <key>normalizedInfo</key>
      <dict>
        <key>lc</key>
        <dict>
          <key>interpH</key>
          <real>0.72</real>
          <key>interpV</key>
          <real>0.64</real>
          <key>problem</key>
          <false/>
          <key>scaleH</key>
          <real>1.02545922778</real>
          <key>scaleV</key>
          <real>1.02545922778</real>
          <key>tracking</key>
          <real>12.0</real>
        </dict>
        <key>other</key>
        <dict>
          <key>interpH</key>
          <real>0.72</real>
          <key>interpV</key>
          <real>0.64</real>
          <key>problem</key>
          <false/>
          <key>scaleH</key>
          <real>1.0</real>
          <key>scaleV</key>
          <real>1.0</real>
          <key>tracking</key>
          <real>14.0</real>
        </dict>
        <key>uc</key>
        <dict>
          <key>interpH</key>
          <real>0.72</real>
          <key>interpV</key>
          <real>0.64</real>
          <key>problem</key>
          <false/>
          <key>scaleH</key>
          <real>1.0</real>
          <key>scaleV</key>
          <real>1.0</real>
          <key>tracking</key>
          <real>14.0</real>
        </dict>
      </dict>
      <key>otherOption</key>
      <integer>2</integer>
      <key>skewOption</key>
      <integer>0</integer>
    </dict>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.guideline.magnetic.7nm96YsG0N</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.FznIijY7Yx</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.Oxb4ZCUyNe</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.hvHIxsBhkP</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.jk0pQPcFar</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.showMeasurements.7nm96YsG0N</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.FznIijY7Yx</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.Oxb4ZCUyNe</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.hvHIxsBhkP</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.jk0pQPcFar</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typesupply.metricsMachine4.groupColors</key>
    <dict>
      <key>public.kern1.A</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.C</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.E</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.H</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.K</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.L</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.O</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.R</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.S</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.T</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.U</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.V</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.Y</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.Z</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.a</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.c</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.f</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.g</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.i</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.j</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.k</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.l</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.leftquote</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.n</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.n.alt</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.o</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.period</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.r</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.rightquote</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.s</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.t</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.v</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern1.z</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.A</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.H</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.J</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.O</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.S</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.T</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.U</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.V</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.Y</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.Z</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.a</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.f</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.g</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.i</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.j</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.l</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.leftquote</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.n</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.o</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.period</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.rightquote</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.s</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.t</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.u</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.v</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.z</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
    </dict>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>nbspace</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>h.alt</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>m.alt</string>
      <string>n</string>
      <string>n.alt</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>s.alt</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>ampersand</string>
      <string>ampersand.alt</string>
      <string>question</string>
      <string>questiondown</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>apostrophemod</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketangleleft</string>
      <string>bracketangleright</string>
      <string>slash</string>
      <string>backslash</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>hyphen</string>
      <string>hyphensoft</string>
      <string>gnrl:hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>underscore</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>bulletoperator</string>
      <string>at</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>asterisk</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>minute</string>
      <string>primemod</string>
      <string>primedblmod</string>
      <string>second</string>
      <string>asciicircum</string>
      <string>asciitilde</string>
      <string>plus</string>
      <string>minus</string>
      <string>plusminus</string>
      <string>divide</string>
      <string>multiply</string>
      <string>equal</string>
      <string>less</string>
      <string>greater</string>
      <string>lessequal</string>
      <string>greaterequal</string>
      <string>approxequal</string>
      <string>notequal</string>
      <string>logicalnot</string>
      <string>divisionslash</string>
      <string>numero</string>
      <string>numbersign</string>
      <string>currency</string>
      <string>dollar</string>
      <string>yen</string>
      <string>Euro</string>
      <string>sterling</string>
      <string>lira</string>
      <string>colonmonetary</string>
      <string>cedi</string>
      <string>guarani</string>
      <string>franc</string>
      <string>kip</string>
      <string>naira</string>
      <string>ruble</string>
      <string>peso</string>
      <string>indianrupee</string>
      <string>turkishlira</string>
      <string>won</string>
      <string>manat</string>
      <string>peseta</string>
      <string>cent</string>
      <string>dong</string>
      <string>fhook</string>
      <string>commercialminussign</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>degree</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>section</string>
      <string>paragraph</string>
      <string>mu.math</string>
      <string>zero.superior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>four.superior</string>
      <string>fraction</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>Germandbls</string>
      <string>AE</string>
      <string>OE</string>
      <string>Schwa</string>
      <string>Eng</string>
      <string>Thorn</string>
      <string>Eth</string>
      <string>Dcroat</string>
      <string>Hbar</string>
      <string>Tbar</string>
      <string>Lslash</string>
      <string>Oslash</string>
      <string>Aogonek</string>
      <string>Eogonek</string>
      <string>Iogonek</string>
      <string>Oogonek</string>
      <string>Uogonek</string>
      <string>Ohorn</string>
      <string>Uhorn</string>
      <string>IJ</string>
      <string>LJ</string>
      <string>NJ</string>
      <string>Lj</string>
      <string>Nj</string>
      <string>germandbls</string>
      <string>dotlessi</string>
      <string>dotlessj</string>
      <string>ae</string>
      <string>oe</string>
      <string>schwa</string>
      <string>kra</string>
      <string>eng</string>
      <string>thorn</string>
      <string>eth</string>
      <string>dcroat</string>
      <string>hbar</string>
      <string>tbar</string>
      <string>lslash</string>
      <string>oslash</string>
      <string>aogonek</string>
      <string>eogonek</string>
      <string>iogonek</string>
      <string>oogonek</string>
      <string>uogonek</string>
      <string>ohorn</string>
      <string>uhorn</string>
      <string>lj</string>
      <string>nj</string>
      <string>f_f</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>acute</string>
      <string>hungarumlaut</string>
      <string>grave</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>tilde</string>
      <string>macron</string>
      <string>dieresis</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>cedilla</string>
      <string>ogonek</string>
      <string>acutecmb</string>
      <string>hungarumlautcmb</string>
      <string>gravecmb</string>
      <string>gravedoublecmb</string>
      <string>turnedcommaabovecmb</string>
      <string>circumflexcmb</string>
      <string>caroncmb</string>
      <string>brevecmb</string>
      <string>invertedbrevecmb</string>
      <string>tildecmb</string>
      <string>macroncmb</string>
      <string>dieresiscmb</string>
      <string>dotaccentcmb</string>
      <string>ringcmb</string>
      <string>commaturnedabovecmb</string>
      <string>hookcmb</string>
      <string>horncmb</string>
      <string>dotbelowcmb</string>
      <string>commaaccentbelowcmb</string>
      <string>cedillacmb</string>
      <string>ogonekcmb</string>
      <string>belowbrevecmb</string>
      <string>macronbelowcmb</string>
      <string>dieresisbelowcmb</string>
      <string>ringacute</string>
      <string>circumflexacute</string>
      <string>circumflexgrave</string>
      <string>circumflextilde</string>
      <string>circumflexhook</string>
      <string>breveacute</string>
      <string>brevegrave</string>
      <string>brevetilde</string>
      <string>brevehook</string>
      <string>acute.cap</string>
      <string>hungarumlaut.cap</string>
      <string>grave.cap</string>
      <string>gravedouble.cap</string>
      <string>circumflex.cap</string>
      <string>caron.cap</string>
      <string>breve.cap</string>
      <string>invertedbreve.cap</string>
      <string>tilde.cap</string>
      <string>macron.cap</string>
      <string>dieresis.cap</string>
      <string>dotaccent.cap</string>
      <string>ring.cap</string>
      <string>hook.cap</string>
      <string>circumflexacute.cap</string>
      <string>circumflexgrave.cap</string>
      <string>circumflextilde.cap</string>
      <string>circumflexhook.cap</string>
      <string>breveacute.cap</string>
      <string>brevegrave.cap</string>
      <string>brevetilde.cap</string>
      <string>brevehook.cap</string>
      <string>sacutedotaccent</string>
      <string>Jcircumflex</string>
      <string>ebreve</string>
      <string>Ocircumflexhookabove</string>
      <string>scarondotaccent.alt</string>
      <string>Emacrongrave</string>
      <string>Ohornhookabove</string>
      <string>Icircumflex</string>
      <string>dcaron</string>
      <string>imacron</string>
      <string>Ucircumflex</string>
      <string>Utildeacute</string>
      <string>utilde</string>
      <string>emacrongrave</string>
      <string>lacute</string>
      <string>uinvertedbreve</string>
      <string>igrave</string>
      <string>zcaron</string>
      <string>tcaron</string>
      <string>abrevehookabove</string>
      <string>Ccedillaacute</string>
      <string>Itilde</string>
      <string>ncaron.alt</string>
      <string>rdblgrave</string>
      <string>Idieresis</string>
      <string>scedilla.alt</string>
      <string>Dzcaron</string>
      <string>ntilde.alt</string>
      <string>Acircumflexhookabove</string>
      <string>Ecircumflex</string>
      <string>oslashacute</string>
      <string>Aring</string>
      <string>Uinvertedbreve</string>
      <string>Emacronacute</string>
      <string>Abreveacute</string>
      <string>egrave</string>
      <string>Ydotbelow</string>
      <string>ccircumflex</string>
      <string>gcaron</string>
      <string>Ibreve</string>
      <string>ddotbelow</string>
      <string>amacron</string>
      <string>scommaaccent</string>
      <string>udblgrave</string>
      <string>ycircumflex</string>
      <string>Ecircumflextilde</string>
      <string>Dmacronbelow</string>
      <string>Udieresis</string>
      <string>omacron</string>
      <string>sacute</string>
      <string>Ytilde</string>
      <string>ihookabove</string>
      <string>ohornhookabove</string>
      <string>ccedilla</string>
      <string>Acircumflextilde</string>
      <string>Rinvertedbreve</string>
      <string>Gbreve</string>
      <string>Omacronacute</string>
      <string>gcommaaccent</string>
      <string>idotbelow</string>
      <string>Ocircumflextilde</string>
      <string>oinvertedbreve</string>
      <string>Ahookabove</string>
      <string>ecircumflextilde</string>
      <string>ehookabove</string>
      <string>adotbelow</string>
      <string>Egrave</string>
      <string>acircumflexhookabove</string>
      <string>Rmacronbelow</string>
      <string>yhookabove</string>
      <string>nacute.alt</string>
      <string>Abrevedotbelow</string>
      <string>ccaron</string>
      <string>zacute</string>
      <string>Ohungarumlaut</string>
      <string>umacrondieresis</string>
      <string>uacute</string>
      <string>otildeacute</string>
      <string>Rdblgrave</string>
      <string>ydieresis</string>
      <string>oacute</string>
      <string>Uacute</string>
      <string>odieresismacron</string>
      <string>ocircumflexdotbelow</string>
      <string>Odotbelow</string>
      <string>hbrevebelow.alt</string>
      <string>ubreve</string>
      <string>gdotaccent</string>
      <string>ecaron</string>
      <string>Ldotbelow</string>
      <string>aringacute</string>
      <string>lcaron</string>
      <string>zdotaccent</string>
      <string>ecircumflex</string>
      <string>Oslashacute</string>
      <string>Ainvertedbreve</string>
      <string>ohorndotbelow</string>
      <string>sdotbelowdotaccent</string>
      <string>Rdotbelow</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Acircumflexgrave</string>
      <string>Idotbelow</string>
      <string>Acircumflexdotbelow</string>
      <string>ydotaccent</string>
      <string>Zcaron</string>
      <string>Cacute</string>
      <string>sdotbelow</string>
      <string>udieresiscaron</string>
      <string>Odieresis</string>
      <string>Adblgrave</string>
      <string>Oinvertedbreve</string>
      <string>hcircumflex.alt</string>
      <string>icircumflex</string>
      <string>ograve</string>
      <string>Otilde</string>
      <string>Otildeacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ntilde</string>
      <string>ocircumflextilde</string>
      <string>Oacute</string>
      <string>Jacute</string>
      <string>ydotbelow</string>
      <string>hbrevebelow</string>
      <string>sdotbelow.alt</string>
      <string>ohookabove</string>
      <string>lmacronbelow</string>
      <string>sacutedotaccent.alt</string>
      <string>uhoi</string>
      <string>uhornacute</string>
      <string>Tmacronbelow</string>
      <string>Uhornhookabove</string>
      <string>Otildedieresis</string>
      <string>hdotbelow</string>
      <string>wacute</string>
      <string>otilde</string>
      <string>aring</string>
      <string>uhorntilde</string>
      <string>ccedillaacute</string>
      <string>ucircumflex</string>
      <string>Abrevehookabove</string>
      <string>Sdotaccent</string>
      <string>ahookabove</string>
      <string>nacute</string>
      <string>Abrevetilde</string>
      <string>acircumflexgrave</string>
      <string>udotbelow</string>
      <string>Lmacronbelow</string>
      <string>hdotbelow.alt</string>
      <string>ecircumflexacute</string>
      <string>Kcommaaccent</string>
      <string>Wgrave</string>
      <string>Ehookabove</string>
      <string>otildedieresis</string>
      <string>Scaron</string>
      <string>Ograve</string>
      <string>Odblgrave</string>
      <string>Ubreve</string>
      <string>einvertedbreve</string>
      <string>omacronacute</string>
      <string>Ddotbelow</string>
      <string>tdotbelow</string>
      <string>Cdotaccent</string>
      <string>emacronacute</string>
      <string>scarondotaccent</string>
      <string>Tcommaaccent</string>
      <string>ecircumflexhookabove</string>
      <string>Lcaron</string>
      <string>ibreve</string>
      <string>itilde</string>
      <string>ecircumflexgrave</string>
      <string>Obreve</string>
      <string>Utilde</string>
      <string>Scedilla</string>
      <string>Sdotbelowdotaccent</string>
      <string>ndotbelow</string>
      <string>atilde</string>
      <string>edotbelow</string>
      <string>obreve</string>
      <string>acircumflextilde</string>
      <string>uhornhookabove</string>
      <string>Rcommaaccent</string>
      <string>edieresis</string>
      <string>Yacute</string>
      <string>Abreve</string>
      <string>odotbelow</string>
      <string>scedilla</string>
      <string>acircumflex</string>
      <string>aacute</string>
      <string>ndotaccent.alt</string>
      <string>Ncommaaccent</string>
      <string>Tcedilla</string>
      <string>sacute.alt</string>
      <string>Dcaron</string>
      <string>ocircumflexacute</string>
      <string>Ygrave</string>
      <string>ainvertedbreve</string>
      <string>Gcommaaccent</string>
      <string>mdotbelow</string>
      <string>dzcaron</string>
      <string>ohornacute</string>
      <string>abrevegrave</string>
      <string>Zacute</string>
      <string>Scarondotaccent</string>
      <string>mdotbelow.alt</string>
      <string>Otildemacron</string>
      <string>Ohorngrave</string>
      <string>Ncaron</string>
      <string>Gcircumflex</string>
      <string>ocircumflexgrave</string>
      <string>rdotbelow</string>
      <string>Zdotbelow</string>
      <string>Uhorntilde</string>
      <string>ocircumflexhookabove</string>
      <string>wdieresis</string>
      <string>Ydotaccent</string>
      <string>ncaron</string>
      <string>Ohorndotbelow</string>
      <string>uhungarumlaut</string>
      <string>Ccaron</string>
      <string>Iacute</string>
      <string>Uhornacute</string>
      <string>Ldot</string>
      <string>Agrave</string>
      <string>umacron</string>
      <string>ncommaaccent</string>
      <string>etilde</string>
      <string>ohungarumlaut</string>
      <string>ymacron</string>
      <string>ldotbelow</string>
      <string>Gmacron</string>
      <string>Idotaccent</string>
      <string>Ihookabove</string>
      <string>Ocircumflexgrave</string>
      <string>rcommaaccent</string>
      <string>odotaccentmacron</string>
      <string>zdotbelow</string>
      <string>Lacute</string>
      <string>emacron</string>
      <string>scaron</string>
      <string>sdotbelowdotaccent.alt</string>
      <string>Yhookabove</string>
      <string>ldot</string>
      <string>Udieresiscaron</string>
      <string>Gdotaccent</string>
      <string>ndotbelow.alt</string>
      <string>Ymacron</string>
      <string>acircumflexdotbelow</string>
      <string>Einvertedbreve</string>
      <string>Wcircumflex</string>
      <string>Uring</string>
      <string>Ccircumflex</string>
      <string>Ecedillabreve</string>
      <string>gbreve</string>
      <string>Lcommaaccent</string>
      <string>Umacrondieresis</string>
      <string>kcommaaccent</string>
      <string>hcircumflex</string>
      <string>edotaccent</string>
      <string>cdotaccent</string>
      <string>racute</string>
      <string>aeacute</string>
      <string>utildeacute</string>
      <string>ygrave</string>
      <string>wcircumflex</string>
      <string>agrave</string>
      <string>iinvertedbreve</string>
      <string>Emacron</string>
      <string>Ecircumflexdotbelow</string>
      <string>tmacronbelow</string>
      <string>Omacrongrave</string>
      <string>Uhoi</string>
      <string>Tdotbelow</string>
      <string>Scommaaccent</string>
      <string>Edieresis</string>
      <string>Ccedilla</string>
      <string>Omacron</string>
      <string>Abrevegrave</string>
      <string>Ecircumflexgrave</string>
      <string>Nmacronbelow</string>
      <string>ocircumflex</string>
      <string>ecedillabreve</string>
      <string>AEacute</string>
      <string>adblgrave</string>
      <string>yacute</string>
      <string>dmacronbelow</string>
      <string>abreveacute</string>
      <string>Ecaron</string>
      <string>sdotaccent.alt</string>
      <string>Sacutedotaccent</string>
      <string>odblgrave</string>
      <string>cacute</string>
      <string>lcommaaccent</string>
      <string>omacrongrave</string>
      <string>nmacronbelow.alt</string>
      <string>jcircumflex</string>
      <string>ohorngrave</string>
      <string>eacute</string>
      <string>Udotbelow</string>
      <string>gmacron</string>
      <string>tdieresis</string>
      <string>Uhorndotbelow</string>
      <string>Amacron</string>
      <string>sdotaccent</string>
      <string>abrevetilde</string>
      <string>Odieresismacron</string>
      <string>Ohookabove</string>
      <string>uring</string>
      <string>Aringacute</string>
      <string>Adotbelow</string>
      <string>gcircumflex</string>
      <string>adieresis</string>
      <string>Wdieresis</string>
      <string>odieresis</string>
      <string>Hbrevebelow</string>
      <string>Wacute</string>
      <string>Udblgrave</string>
      <string>Imacron</string>
      <string>Ndotaccent</string>
      <string>Ydieresis</string>
      <string>Hdotbelow</string>
      <string>Atilde</string>
      <string>ncommaaccent.alt</string>
      <string>Ocircumflex</string>
      <string>Ebreve</string>
      <string>Iinvertedbreve</string>
      <string>Sacute</string>
      <string>Aacute</string>
      <string>idblgrave</string>
      <string>ohorntilde</string>
      <string>Mdotbelow</string>
      <string>scircumflex.alt</string>
      <string>ecircumflexdotbelow</string>
      <string>idieresisacute</string>
      <string>DZcaron</string>
      <string>Adieresis</string>
      <string>edblgrave</string>
      <string>Idblgrave</string>
      <string>rcaron</string>
      <string>Uhorngrave</string>
      <string>Etilde</string>
      <string>Edotbelow</string>
      <string>rinvertedbreve</string>
      <string>rmacronbelow</string>
      <string>Odotaccentmacron</string>
      <string>Ecircumflexacute</string>
      <string>Tcaron</string>
      <string>ytilde</string>
      <string>tcedilla</string>
      <string>ndotaccent</string>
      <string>Ecircumflexhookabove</string>
      <string>otildemacron</string>
      <string>wgrave</string>
      <string>Hcircumflex</string>
      <string>acircumflexacute</string>
      <string>scommaaccent.alt</string>
      <string>scaron.alt</string>
      <string>Idieresisacute</string>
      <string>ugrave</string>
      <string>abrevedotbelow</string>
      <string>Ocircumflexacute</string>
      <string>Acircumflex</string>
      <string>idieresis</string>
      <string>ntilde</string>
      <string>Eacute</string>
      <string>tcommaaccent</string>
      <string>Nacute</string>
      <string>Edblgrave</string>
      <string>nmacronbelow</string>
      <string>Ohornacute</string>
      <string>Ohorntilde</string>
      <string>Rcaron</string>
      <string>Acircumflexacute</string>
      <string>idotaccent</string>
      <string>Racute</string>
      <string>Igrave</string>
      <string>Ndotbelow</string>
      <string>Ycircumflex</string>
      <string>Scircumflex</string>
      <string>udieresis</string>
      <string>Edotaccent</string>
      <string>Zdotaccent</string>
      <string>iacute</string>
      <string>abreve</string>
      <string>uhorngrave</string>
      <string>Sdotbelow</string>
      <string>uhorndotbelow</string>
      <string>Gcaron</string>
      <string>scircumflex</string>
      <string>Ugrave</string>
      <string>IJacute</string>
      <string>ijacute</string>
      <string>ij</string>
      <string>jacute</string>
      <string>g.alt</string>
    </array>
  </dict>
</plist>
