<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>X</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>50</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.l.alt</key>
      <integer>50</integer>
      <key>public.kern2.o</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.period</key>
      <integer>-160</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <integer>-70</integer>
      <key>public.kern2.A</key>
      <integer>-160</integer>
      <key>public.kern2.H</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.N</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <real>-38.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-38.333333333333336</real>
      <key>public.kern2.o</key>
      <real>-38.333333333333336</real>
      <key>public.kern2.period</key>
      <integer>-270</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-120</integer>
      <key>public.kern2.H</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-130</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.N</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <integer>35</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.v.alt</key>
      <integer>-50</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>p</key>
      <integer>15</integer>
      <key>public.kern2.a</key>
      <real>-2.6666666666666665</real>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.j</key>
      <integer>15</integer>
      <key>public.kern2.l</key>
      <integer>-8</integer>
      <key>public.kern2.leftquote</key>
      <real>26.666666666666668</real>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>30</integer>
      <key>public.kern2.v.alt</key>
      <integer>25</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
      <key>thorn</key>
      <integer>70</integer>
      <key>x</key>
      <real>-13.333333333333334</real>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.l.alt</key>
      <real>13.333333333333334</real>
      <key>public.kern2.leftquote</key>
      <real>26.666666666666668</real>
      <key>public.kern2.rightquote</key>
      <real>53.333333333333336</real>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.l.alt</key>
      <real>73.33333333333333</real>
      <key>public.kern2.leftquote</key>
      <real>53.333333333333336</real>
      <key>public.kern2.rightquote</key>
      <real>88.33333333333333</real>
    </dict>
    <key>eight</key>
    <dict>
      <key>five</key>
      <integer>10</integer>
      <key>four</key>
      <integer>30</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>eight</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>30</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-60</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>eight</key>
      <integer>40</integer>
      <key>five</key>
      <integer>50</integer>
      <key>four</key>
      <integer>90</integer>
      <key>nine</key>
      <integer>20</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>three</key>
      <integer>40</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>5</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>four</key>
      <integer>40</integer>
      <key>one</key>
      <integer>-30</integer>
      <key>two</key>
      <integer>-60</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>eight</key>
      <integer>20</integer>
      <key>five</key>
      <integer>30</integer>
      <key>four</key>
      <integer>-10</integer>
      <key>nine</key>
      <integer>20</integer>
      <key>one</key>
      <integer>20</integer>
      <key>three</key>
      <integer>40</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.j</key>
      <real>88.33333333333333</real>
      <key>public.kern2.l.alt</key>
      <real>61.666666666666664</real>
      <key>public.kern2.leftquote</key>
      <real>53.333333333333336</real>
      <key>public.kern2.rightquote</key>
      <real>88.33333333333333</real>
      <key>public.kern2.v.alt</key>
      <real>26.666666666666668</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>p</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.N</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-110</integer>
      <key>public.kern2.U</key>
      <integer>-85</integer>
      <key>public.kern2.V</key>
      <integer>-140</integer>
      <key>public.kern2.Y</key>
      <integer>-110</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.v.alt</key>
      <real>-11.666666666666666</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.N</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.S</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>25</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.N</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>25</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.l.alt</key>
      <real>-12.666666666666664</real>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.v.alt</key>
      <real>-10.666666666666666</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>15</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.l.alt</key>
      <real>11.666666666666666</real>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>public.kern2.v.alt</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>30</integer>
      <key>public.kern2.v.alt</key>
      <real>-26.666666666666668</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>30</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-160</integer>
      <key>public.kern2.U</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-200</integer>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2.period</key>
      <integer>30</integer>
      <key>public.kern2.v.alt</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>X</key>
      <integer>60</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.N</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.S</key>
      <integer>15</integer>
      <key>public.kern2.T</key>
      <integer>90</integer>
      <key>public.kern2.U</key>
      <integer>10</integer>
      <key>public.kern2.V</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>70</integer>
      <key>public.kern2.Z</key>
      <integer>40</integer>
      <key>public.kern2.l.alt</key>
      <real>86.66666666666667</real>
      <key>thorn</key>
      <real>26.666666666666668</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>X</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.H</key>
      <integer>-15</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.N</key>
      <integer>-35</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-105</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <real>10.666666666666666</real>
      <key>public.kern2.v.alt</key>
      <real>10.666666666666666</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-25</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.N</key>
      <integer>-25</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-85</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>X</key>
      <integer>70</integer>
      <key>i</key>
      <real>-53.333333333333336</real>
      <key>p</key>
      <real>-61.666666666666664</real>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.N</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-25</integer>
      <key>public.kern2.T</key>
      <integer>80</integer>
      <key>public.kern2.U</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>40</integer>
      <key>public.kern2.Y</key>
      <integer>80</integer>
      <key>public.kern2.Z</key>
      <integer>5</integer>
      <key>public.kern2.a</key>
      <real>-123.33333333333333</real>
      <key>public.kern2.g</key>
      <real>-123.33333333333333</real>
      <key>public.kern2.l.alt</key>
      <real>86.66666666666667</real>
      <key>public.kern2.n</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <real>-123.33333333333333</real>
      <key>public.kern2.period</key>
      <integer>-200</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <real>-96.66666666666666</real>
      <key>public.kern2.v</key>
      <real>-96.66666666666666</real>
      <key>public.kern2.v.alt</key>
      <real>-123.33333333333333</real>
      <key>public.kern2.z</key>
      <real>-96.66666666666666</real>
      <key>x</key>
      <real>-96.66666666666666</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>X</key>
      <integer>20</integer>
      <key>public.kern2.A</key>
      <integer>-130</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.N</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <real>61.666666666666664</real>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-140</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>X</key>
      <integer>40</integer>
      <key>public.kern2.A</key>
      <real>-187.33333333333334</real>
      <key>public.kern2.N</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>50</integer>
      <key>public.kern2.Y</key>
      <integer>60</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <real>-123.33333333333333</real>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.l.alt</key>
      <real>61.666666666666664</real>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-320</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.v</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.v.alt</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>X</key>
      <integer>40</integer>
      <key>public.kern2.A</key>
      <integer>-160</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>80</integer>
      <key>public.kern2.V</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <real>-88.33333333333333</real>
      <key>public.kern2.g</key>
      <real>-88.33333333333333</real>
      <key>public.kern2.l.alt</key>
      <real>111.66666666666667</real>
      <key>public.kern2.o</key>
      <real>-88.33333333333333</real>
      <key>public.kern2.period</key>
      <integer>-220</integer>
      <key>public.kern2.s</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.u</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.v.alt</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.N</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-8</integer>
      <key>public.kern2.t</key>
      <real>-5.333333333333333</real>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.v.alt</key>
      <integer>-5</integer>
      <key>thorn</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-170</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-160</integer>
      <key>public.kern2.Y</key>
      <integer>-180</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>5</integer>
      <key>public.kern2.l</key>
      <integer>-35</integer>
      <key>public.kern2.l.alt</key>
      <real>-30.666666666666664</real>
      <key>public.kern2.o</key>
      <integer>-18</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <real>-15.333333333333332</real>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>20</integer>
      <key>public.kern2.z</key>
      <integer>-8</integer>
      <key>thorn</key>
      <integer>50</integer>
      <key>x</key>
      <real>-21.333333333333332</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-170</integer>
      <key>public.kern2.U</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-160</integer>
      <key>public.kern2.Y</key>
      <integer>-200</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <real>-10.666666666666666</real>
      <key>public.kern2.l.alt</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <real>-15.333333333333332</real>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>thorn</key>
      <integer>50</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>backslash</key>
      <real>46.666666666666664</real>
      <key>exclam</key>
      <real>23.333333333333332</real>
      <key>p</key>
      <integer>10</integer>
      <key>parenright</key>
      <real>23.333333333333332</real>
      <key>public.kern2.a</key>
      <integer>-45</integer>
      <key>public.kern2.f</key>
      <integer>30</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>35</integer>
      <key>public.kern2.l</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.leftquote</key>
      <real>111.66666666666667</real>
      <key>public.kern2.n</key>
      <real>20.666666666666664</real>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.rightquote</key>
      <integer>100</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>20</integer>
      <key>public.kern2.v</key>
      <integer>60</integer>
      <key>public.kern2.v.alt</key>
      <integer>35</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>question</key>
      <integer>35</integer>
      <key>thorn</key>
      <integer>110</integer>
      <key>x</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>p</key>
      <integer>20</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.f</key>
      <integer>30</integer>
      <key>public.kern2.j</key>
      <integer>40</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>30</integer>
      <key>public.kern2.v.alt</key>
      <integer>25</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>thorn</key>
      <integer>70</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.guilsinglleft</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>35</integer>
      <key>public.kern2.t</key>
      <real>23.333333333333332</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>15</integer>
      <key>public.kern2.g</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <real>-5.333333333333333</real>
      <key>public.kern2.l.alt</key>
      <real>14.666666666666668</real>
      <key>public.kern2.s</key>
      <real>-5.333333333333333</real>
      <key>public.kern2.t</key>
      <integer>5</integer>
      <key>public.kern2.v.alt</key>
      <integer>-25</integer>
      <key>thorn</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.l.alt</key>
      <real>14.666666666666668</real>
      <key>public.kern2.n</key>
      <integer>5</integer>
      <key>public.kern2.o</key>
      <real>-10.666666666666666</real>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>100</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.l</key>
      <integer>-25</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>thorn</key>
      <integer>80</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>backslash</key>
      <real>46.666666666666664</real>
      <key>bracketright</key>
      <real>23.333333333333332</real>
      <key>exclam</key>
      <integer>35</integer>
      <key>parenright</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <integer>-8</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>30</integer>
      <key>public.kern2.l</key>
      <real>-5.333333333333333</real>
      <key>public.kern2.leftquote</key>
      <real>111.66666666666667</real>
      <key>public.kern2.n</key>
      <real>-5.333333333333333</real>
      <key>public.kern2.o</key>
      <real>-5.333333333333333</real>
      <key>public.kern2.rightquote</key>
      <real>123.33333333333333</real>
      <key>public.kern2.s</key>
      <real>-10.666666666666666</real>
      <key>public.kern2.u</key>
      <real>-10.666666666666666</real>
      <key>public.kern2.v</key>
      <real>-21.333333333333332</real>
      <key>public.kern2.v.alt</key>
      <integer>-26</integer>
      <key>public.kern2.z</key>
      <real>-18.666666666666668</real>
      <key>question</key>
      <real>58.33333333333333</real>
      <key>schwa</key>
      <integer>-20</integer>
      <key>thorn</key>
      <integer>140</integer>
      <key>x</key>
      <real>-5.333333333333333</real>
    </dict>
    <key>public.kern1.l.alt</key>
    <dict>
      <key>public.kern2.l.alt</key>
      <real>9.333333333333334</real>
      <key>public.kern2.rightquote</key>
      <integer>35</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v.alt</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.leftquote</key>
    <dict>
      <key>exclamdown</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.l.alt</key>
      <real>23.333333333333332</real>
      <key>questiondown</key>
      <integer>-200</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>10</integer>
      <key>public.kern2.j</key>
      <integer>5</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.v.alt</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.f</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <integer>-16</integer>
      <key>public.kern2.l.alt</key>
      <integer>-16</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>public.kern2.t</key>
      <integer>-16</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.z</key>
      <real>-10.666666666666666</real>
      <key>thorn</key>
      <integer>30</integer>
      <key>x</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-100</integer>
      <key>public.kern2.T</key>
      <integer>-200</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-230</integer>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2.leftquote</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.v.alt</key>
      <real>-26.666666666666668</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>p</key>
      <real>4.666666666666667</real>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>15</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <real>-40.666666666666664</real>
      <key>public.kern2.l.alt</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <real>20.333333333333332</real>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>5</integer>
      <key>public.kern2.u</key>
      <integer>15</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
      <key>public.kern2.v.alt</key>
      <real>40.666666666666664</real>
      <key>thorn</key>
      <integer>50</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.rightquote</key>
    <dict>
      <key>public.kern2.l.alt</key>
      <integer>100</integer>
      <key>questiondown</key>
      <real>-176.66666666666666</real>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>p</key>
      <real>4.666666666666667</real>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <real>-5.333333333333333</real>
      <key>public.kern2.g</key>
      <integer>-15</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.l.alt</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <real>-13.333333333333334</real>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>20</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>30</integer>
      <key>x</key>
      <real>-21.333333333333332</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.s</key>
      <real>-18.333333333333336</real>
      <key>public.kern2.v</key>
      <integer>30</integer>
      <key>public.kern2.v.alt</key>
      <integer>20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.v.alt</key>
      <integer>30</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>50</integer>
      <key>x</key>
      <real>-46.66666666666667</real>
    </dict>
    <key>public.kern1.v.alt</key>
    <dict>
      <key>p</key>
      <real>6.533333333333333</real>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>5</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.v.alt</key>
      <integer>20</integer>
      <key>x</key>
      <integer>-16</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>p</key>
      <real>12.333333333333334</real>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.j</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <integer>-50</integer>
      <key>public.kern2.l.alt</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>35</integer>
      <key>public.kern2.v.alt</key>
      <integer>30</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>x</key>
      <real>-49.33333333333333</real>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-5.333333333333333</real>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.l.alt</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>30</integer>
      <key>thorn</key>
      <integer>60</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>p</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>40</integer>
      <key>public.kern2.j</key>
      <integer>100</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>15</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>15</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>40</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>110</integer>
      <key>x</key>
      <integer>-35</integer>
    </dict>
    <key>question</key>
    <dict>
      <key>public.kern2.leftquote</key>
      <real>23.333333333333332</real>
      <key>public.kern2.rightquote</key>
      <real>23.333333333333332</real>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>70</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-100</integer>
      <key>one</key>
      <integer>30</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>five</key>
      <integer>10</integer>
      <key>four</key>
      <integer>30</integer>
      <key>one</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-40</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>eight</key>
      <integer>20</integer>
      <key>five</key>
      <integer>20</integer>
      <key>four</key>
      <integer>40</integer>
      <key>two</key>
      <integer>-40</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>eight</key>
      <integer>30</integer>
      <key>five</key>
      <integer>40</integer>
      <key>four</key>
      <integer>50</integer>
      <key>nine</key>
      <integer>20</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>20</integer>
      <key>three</key>
      <integer>20</integer>
      <key>zero</key>
      <integer>10</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.j</key>
      <integer>20</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.l.alt</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <real>10.666666666666666</real>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>20</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
      <key>public.kern2.v.alt</key>
      <integer>50</integer>
      <key>thorn</key>
      <integer>60</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>four</key>
      <integer>20</integer>
      <key>one</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-90</integer>
    </dict>
  </dict>
</plist>
