<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>47787DC9-D44E-4D86-B3C4-44F896E1D55C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.cap</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve.cap</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde.cap</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedi</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute.cap</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde.cap</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colonmonetary</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentbelowcmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commercialminussign</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dong</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotbelowcmb</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotlessj</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fhook</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.superior</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fraction</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.franc</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravedoublecmb</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guarani</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphensoft</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indianrupee</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.invertedbreve.cap</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.invertedbrevecmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kip</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kra</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lira</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalnot</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronbelowcmb</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.manat</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minute</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mu.math</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naira</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onesuperior</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peseta</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peso</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringacute</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.schwa</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.second</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threesuperior</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turkishlira</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turnedcommaabovecmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twosuperior</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.won</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>12</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowFill</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
