<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>F</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>25</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>100</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>p</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-100</integer>
      <key>t</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>p</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>85</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-75</integer>
      <key>public.kern2.v</key>
      <integer>-100</integer>
      <key>t</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>j</key>
      <integer>50</integer>
      <key>public.kern2.l</key>
      <integer>150</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
  </dict>
</plist>
