<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>144G0Black</string>
      <string>glyphs.144G_0B_lack</string>
    </array>
    <array>
      <string>9G100Black</string>
      <string>glyphs.9G_100B_lack</string>
    </array>
    <array>
      <string>interpolation</string>
      <string>glyphs.interpolation</string>
    </array>
    <array>
      <string>144G100Black</string>
      <string>glyphs.144G_100B_lack</string>
    </array>
  </array>
</plist>
