<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>asterisk</key>
      <integer>-35</integer>
      <key>backslash</key>
      <integer>-80</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-40</integer>
      <key>public.kern2.N</key>
      <integer>-35</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-45</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-55</integer>
      <key>public.kern2.leftquote</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-35</integer>
      <key>public.kern2.rightquote</key>
      <integer>-50</integer>
      <key>public.kern2.v.alt</key>
      <integer>-40</integer>
      <key>trademark</key>
      <integer>-40</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>X</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.N</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
    </dict>
    <key>Germandbls</key>
    <dict>
      <key>public.kern2.v.alt</key>
      <integer>-35</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>backslash</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.H</key>
      <integer>-40</integer>
      <key>public.kern2.N</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-35</integer>
      <key>public.kern2.Z</key>
      <integer>-55</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>slash</key>
      <integer>-80</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-55</integer>
      <key>public.kern2.H</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>endash</key>
      <integer>-50</integer>
      <key>hyphen</key>
      <integer>-70</integer>
      <key>periodcentered</key>
      <integer>-70</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>public.kern2.v</key>
      <integer>-45</integer>
      <key>public.kern2.v.alt</key>
      <integer>-80</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-60</integer>
    </dict>
    <key>asterisk</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>six</key>
      <integer>-40</integer>
      <key>zero</key>
      <integer>-50</integer>
    </dict>
    <key>at</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>backslash</key>
      <integer>-50</integer>
      <key>public.kern2.j</key>
      <integer>-35</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.v.alt</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-40</integer>
      <key>thorn</key>
      <integer>35</integer>
      <key>x</key>
      <integer>-40</integer>
    </dict>
    <key>backslash</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>50</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.j</key>
      <integer>70</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.v.alt</key>
      <integer>55</integer>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-40</integer>
    </dict>
    <key>braceright</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-70</integer>
    </dict>
    <key>bracketleft</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
    </dict>
    <key>bracketright</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-70</integer>
    </dict>
    <key>copyright</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>divide</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>endash</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-60</integer>
      <key>public.kern2.H</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.M</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>equal</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>divide</key>
      <integer>-40</integer>
      <key>equal</key>
      <integer>-40</integer>
      <key>logicalnot</key>
      <integer>-40</integer>
      <key>minus</key>
      <integer>-40</integer>
      <key>notequal</key>
      <integer>-40</integer>
      <key>plus</key>
      <integer>-40</integer>
      <key>plusminus</key>
      <integer>-40</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>degree</key>
      <integer>-40</integer>
      <key>divide</key>
      <integer>-35</integer>
      <key>equal</key>
      <integer>-35</integer>
      <key>four</key>
      <integer>40</integer>
      <key>less</key>
      <integer>-40</integer>
      <key>lessequal</key>
      <integer>-40</integer>
      <key>logicalnot</key>
      <integer>-35</integer>
      <key>minus</key>
      <integer>-35</integer>
      <key>notequal</key>
      <integer>-35</integer>
      <key>ordfeminine</key>
      <integer>-45</integer>
      <key>ordmasculine</key>
      <integer>-50</integer>
      <key>plus</key>
      <integer>-35</integer>
      <key>plusminus</key>
      <integer>-35</integer>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>backslash</key>
      <integer>-60</integer>
      <key>p</key>
      <integer>-35</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-30</integer>
      <key>public.kern2.v.alt</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>slash</key>
      <integer>-40</integer>
    </dict>
    <key>greater</key>
    <dict>
      <key>one</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-50</integer>
    </dict>
    <key>greaterequal</key>
    <dict>
      <key>one</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-50</integer>
    </dict>
    <key>hyphen</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.H</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>logicalnot</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>minus</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
      <key>two</key>
      <integer>-35</integer>
    </dict>
    <key>notequal</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>numbersign</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>backslash</key>
      <integer>-40</integer>
      <key>divide</key>
      <integer>-50</integer>
      <key>equal</key>
      <integer>-50</integer>
      <key>less</key>
      <integer>-50</integer>
      <key>lessequal</key>
      <integer>-50</integer>
      <key>logicalnot</key>
      <integer>-50</integer>
      <key>minus</key>
      <integer>-50</integer>
      <key>minute</key>
      <integer>-50</integer>
      <key>notequal</key>
      <integer>-10</integer>
      <key>ordfeminine</key>
      <integer>-50</integer>
      <key>ordmasculine</key>
      <integer>-50</integer>
      <key>plus</key>
      <integer>-50</integer>
      <key>plusminus</key>
      <integer>-50</integer>
      <key>primedblmod</key>
      <integer>-50</integer>
      <key>primemod</key>
      <integer>-50</integer>
      <key>second</key>
      <integer>-50</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>four</key>
      <integer>-50</integer>
    </dict>
    <key>parenright</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-70</integer>
    </dict>
    <key>periodcentered</key>
    <dict>
      <key>X</key>
      <integer>-60</integer>
      <key>public.kern2.N</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>plus</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>plusminus</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>ampersand</key>
      <integer>80</integer>
      <key>asterisk</key>
      <integer>-100</integer>
      <key>backslash</key>
      <integer>-100</integer>
      <key>endash</key>
      <integer>-50</integer>
      <key>hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.leftquote</key>
      <integer>-50</integer>
      <key>public.kern2.rightquote</key>
      <integer>-60</integer>
      <key>registered</key>
      <integer>-70</integer>
      <key>trademark</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.v.alt</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>endash</key>
      <integer>-70</integer>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-35</integer>
      <key>public.kern2.v.alt</key>
      <integer>-45</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>endash</key>
      <integer>-50</integer>
      <key>hyphen</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>endash</key>
      <integer>-40</integer>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>periodcentered</key>
      <integer>-40</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.v.alt</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>ampersand</key>
      <integer>40</integer>
      <key>asterisk</key>
      <integer>-50</integer>
      <key>backslash</key>
      <integer>-90</integer>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.leftquote</key>
      <integer>-70</integer>
      <key>public.kern2.rightquote</key>
      <integer>-60</integer>
      <key>public.kern2.v.alt</key>
      <integer>-70</integer>
      <key>registered</key>
      <integer>-40</integer>
      <key>trademark</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>backslash</key>
      <integer>-40</integer>
      <key>endash</key>
      <integer>-50</integer>
      <key>public.kern2.v.alt</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>periodcentered</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>20</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.v.alt</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>X</key>
      <integer>-60</integer>
      <key>backslash</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.N</key>
      <integer>-40</integer>
      <key>public.kern2.S</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-35</integer>
      <key>public.kern2.V</key>
      <integer>-35</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-45</integer>
      <key>public.kern2.leftquote</key>
      <integer>-40</integer>
      <key>trademark</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>asterisk</key>
      <integer>-50</integer>
      <key>backslash</key>
      <integer>-70</integer>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>periodcentered</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-55</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-35</integer>
      <key>public.kern2.rightquote</key>
      <integer>-40</integer>
      <key>trademark</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.v.alt</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>X</key>
      <integer>40</integer>
      <key>ampersand</key>
      <integer>-50</integer>
      <key>backslash</key>
      <integer>60</integer>
      <key>bracketright</key>
      <integer>40</integer>
      <key>endash</key>
      <integer>-60</integer>
      <key>hyphen</key>
      <integer>-70</integer>
      <key>p</key>
      <integer>-50</integer>
      <key>parenright</key>
      <integer>40</integer>
      <key>periodcentered</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>60</integer>
      <key>public.kern2.V</key>
      <integer>100</integer>
      <key>public.kern2.a</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-70</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-50</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.leftquote</key>
      <integer>50</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.period</key>
      <integer>-95</integer>
      <key>public.kern2.rightquote</key>
      <integer>60</integer>
      <key>public.kern2.s</key>
      <integer>-70</integer>
      <key>public.kern2.t</key>
      <integer>-60</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-60</integer>
      <key>public.kern2.v.alt</key>
      <integer>-90</integer>
      <key>public.kern2.z</key>
      <integer>-70</integer>
      <key>slash</key>
      <integer>-50</integer>
      <key>trademark</key>
      <integer>60</integer>
      <key>x</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>ampersand</key>
      <integer>-40</integer>
      <key>endash</key>
      <integer>-70</integer>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>p</key>
      <integer>-50</integer>
      <key>periodcentered</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-65</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-35</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-45</integer>
      <key>public.kern2.n</key>
      <integer>-55</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-45</integer>
      <key>public.kern2.v.alt</key>
      <integer>-60</integer>
      <key>public.kern2.z</key>
      <integer>-65</integer>
      <key>slash</key>
      <integer>-80</integer>
      <key>x</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>ampersand</key>
      <integer>-70</integer>
      <key>backslash</key>
      <integer>40</integer>
      <key>endash</key>
      <integer>-95</integer>
      <key>hyphen</key>
      <integer>-90</integer>
      <key>p</key>
      <integer>-50</integer>
      <key>periodcentered</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-60</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>50</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>public.kern2.rightquote</key>
      <integer>60</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.v.alt</key>
      <integer>-50</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>question</key>
      <integer>50</integer>
      <key>slash</key>
      <integer>-90</integer>
      <key>trademark</key>
      <integer>60</integer>
      <key>x</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>ampersand</key>
      <integer>-70</integer>
      <key>endash</key>
      <integer>-50</integer>
      <key>hyphen</key>
      <integer>-50</integer>
      <key>p</key>
      <integer>-50</integer>
      <key>periodcentered</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.T</key>
      <integer>50</integer>
      <key>public.kern2.a</key>
      <integer>-85</integer>
      <key>public.kern2.g</key>
      <integer>-85</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-50</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.leftquote</key>
      <integer>40</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-80</integer>
      <key>public.kern2.period</key>
      <integer>-105</integer>
      <key>public.kern2.rightquote</key>
      <integer>40</integer>
      <key>public.kern2.s</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.v.alt</key>
      <integer>-70</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>slash</key>
      <integer>-70</integer>
      <key>trademark</key>
      <integer>50</integer>
      <key>x</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.v.alt</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>ampersand</key>
      <integer>40</integer>
      <key>backslash</key>
      <integer>-120</integer>
      <key>public.kern2.l.alt</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.v.alt</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>backslash</key>
      <integer>-85</integer>
      <key>public.kern2.H</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-95</integer>
      <key>public.kern2.l.alt</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>X</key>
      <integer>-35</integer>
      <key>backslash</key>
      <integer>-100</integer>
      <key>p</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-45</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.N</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <integer>-85</integer>
      <key>public.kern2.U</key>
      <integer>-55</integer>
      <key>public.kern2.V</key>
      <integer>-85</integer>
      <key>public.kern2.Y</key>
      <integer>-110</integer>
      <key>public.kern2.j</key>
      <integer>-45</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.v.alt</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>asterisk</key>
      <integer>60</integer>
      <key>braceright</key>
      <integer>50</integer>
      <key>bracketright</key>
      <integer>50</integer>
      <key>parenright</key>
      <integer>50</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.leftquote</key>
      <integer>80</integer>
      <key>public.kern2.rightquote</key>
      <integer>85</integer>
      <key>public.kern2.v.alt</key>
      <integer>30</integer>
      <key>question</key>
      <integer>50</integer>
      <key>registered</key>
      <integer>50</integer>
      <key>thorn</key>
      <integer>55</integer>
      <key>trademark</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>backslash</key>
      <integer>-120</integer>
      <key>public.kern2.l.alt</key>
      <integer>-20</integer>
      <key>thorn</key>
      <integer>35</integer>
    </dict>
    <key>public.kern1.guilsinglleft</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.guilsinglright</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>backslash</key>
      <integer>-140</integer>
      <key>p</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>40</integer>
      <key>public.kern2.j</key>
      <integer>-40</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.l.alt</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.rightquote</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-45</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>x</key>
      <integer>-55</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>backslash</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.v.alt</key>
      <integer>-50</integer>
      <key>thorn</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>backslash</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.leftquote</key>
      <integer>-40</integer>
      <key>public.kern2.v.alt</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>asterisk</key>
      <integer>65</integer>
      <key>backslash</key>
      <integer>55</integer>
      <key>braceright</key>
      <integer>50</integer>
      <key>bracketright</key>
      <integer>60</integer>
      <key>parenright</key>
      <integer>60</integer>
      <key>public.kern2.f</key>
      <integer>60</integer>
      <key>public.kern2.leftquote</key>
      <integer>70</integer>
      <key>public.kern2.rightquote</key>
      <integer>100</integer>
      <key>public.kern2.v.alt</key>
      <integer>-20</integer>
      <key>question</key>
      <integer>60</integer>
      <key>registered</key>
      <integer>50</integer>
      <key>thorn</key>
      <integer>70</integer>
      <key>trademark</key>
      <integer>90</integer>
    </dict>
    <key>public.kern1.l.alt</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.v.alt</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.leftquote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.T</key>
      <integer>35</integer>
      <key>questiondown</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>asterisk</key>
      <integer>-60</integer>
      <key>backslash</key>
      <integer>-100</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>-35</integer>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.l.alt</key>
      <integer>-20</integer>
      <key>public.kern2.leftquote</key>
      <integer>-60</integer>
      <key>public.kern2.rightquote</key>
      <integer>-70</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>public.kern2.v.alt</key>
      <integer>-40</integer>
      <key>x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>backslash</key>
      <integer>-150</integer>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.l.alt</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.rightquote</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.v.alt</key>
      <integer>-40</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>slash</key>
      <integer>-35</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.leftquote</key>
      <integer>-50</integer>
      <key>public.kern2.rightquote</key>
      <integer>-40</integer>
      <key>public.kern2.v.alt</key>
      <integer>-50</integer>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>backslash</key>
      <integer>-75</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.g</key>
      <integer>-60</integer>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
      <key>slash</key>
      <integer>-70</integer>
      <key>x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.rightquote</key>
    <dict>
      <key>four</key>
      <integer>-35</integer>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>questiondown</key>
      <integer>-110</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>backslash</key>
      <integer>-115</integer>
      <key>p</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-30</integer>
      <key>public.kern2.l</key>
      <integer>-35</integer>
      <key>public.kern2.l.alt</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.v.alt</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>backslash</key>
      <integer>-90</integer>
      <key>p</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <integer>-60</integer>
      <key>public.kern2.leftquote</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-35</integer>
      <key>public.kern2.o</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>-35</integer>
      <key>public.kern2.v.alt</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>backslash</key>
      <integer>-135</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.rightquote</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v.alt</key>
      <integer>-35</integer>
      <key>slash</key>
      <integer>-35</integer>
      <key>x</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.v.alt</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>backslash</key>
      <integer>-100</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>slash</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>backslash</key>
      <integer>-110</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>backslash</key>
      <integer>-110</integer>
      <key>public.kern2.j</key>
      <integer>50</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>thorn</key>
      <integer>55</integer>
    </dict>
    <key>questiondown</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-60</integer>
      <key>seven</key>
      <integer>-60</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>cent</key>
      <integer>-40</integer>
      <key>dong</key>
      <integer>-50</integer>
      <key>four</key>
      <integer>-50</integer>
      <key>hyphen</key>
      <integer>-40</integer>
      <key>minute</key>
      <integer>40</integer>
      <key>primedblmod</key>
      <integer>40</integer>
      <key>primemod</key>
      <integer>40</integer>
      <key>public.kern2.guilsinglleft</key>
      <integer>-50</integer>
      <key>public.kern2.guilsinglright</key>
      <integer>-40</integer>
      <key>public.kern2.leftquote</key>
      <integer>40</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.rightquote</key>
      <integer>40</integer>
      <key>second</key>
      <integer>40</integer>
    </dict>
    <key>slash</key>
    <dict>
      <key>four</key>
      <integer>-50</integer>
      <key>p</key>
      <integer>-80</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.M</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-110</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-85</integer>
      <key>public.kern2.s</key>
      <integer>-65</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-60</integer>
      <key>public.kern2.v</key>
      <integer>-55</integer>
      <key>public.kern2.v.alt</key>
      <integer>-70</integer>
      <key>public.kern2.z</key>
      <integer>-65</integer>
      <key>x</key>
      <integer>-95</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>endash</key>
      <integer>40</integer>
      <key>four</key>
      <integer>35</integer>
      <key>public.kern2.rightquote</key>
      <integer>40</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>backslash</key>
      <integer>-120</integer>
      <key>p</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.g</key>
      <integer>-35</integer>
      <key>public.kern2.j</key>
      <integer>-40</integer>
      <key>public.kern2.l</key>
      <integer>-45</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-35</integer>
      <key>slash</key>
      <integer>-35</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>seven</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
