<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>280E29C0-DC82-4A86-BB27-A880E9121C6C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.cap</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.alt</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aringacute</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve.cap</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde.cap</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedi</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute.cap</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde.cap</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colonmonetary</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentbelowcmb</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaturnedabovecmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ellipsis</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fhook</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.franc</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guarani</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hook.cap</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphensoft</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indianrupee</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kip</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kra</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ldot</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lira</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.manat</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minute</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naira</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peseta</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peso</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.primemod</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringacute</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.second</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde.cap</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecmb</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turkishlira</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turnedcommaabovecmb</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.won</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>17</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowFill</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
