<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commercialminussign</key>
    <string>commercialminussign.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.alt</key>
    <string>h.alt.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kra</key>
    <string>kra.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.alt</key>
    <string>m.alt.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>primedblmod</key>
    <string>primedblmod.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.alt</key>
    <string>s.alt.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
