<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.andyclymer.ScaleAndAdjustSettings</key>
    <dict>
      <key>infoOption</key>
      <integer>1</integer>
      <key>normalizedInfo</key>
      <dict>
        <key>lc</key>
        <dict>
          <key>interpH</key>
          <real>0.72</real>
          <key>interpV</key>
          <real>0.64</real>
          <key>problem</key>
          <false/>
          <key>scaleH</key>
          <real>1.02545922778</real>
          <key>scaleV</key>
          <real>1.02545922778</real>
          <key>tracking</key>
          <real>12.0</real>
        </dict>
        <key>other</key>
        <dict>
          <key>interpH</key>
          <real>0.72</real>
          <key>interpV</key>
          <real>0.64</real>
          <key>problem</key>
          <false/>
          <key>scaleH</key>
          <real>1.01272961389</real>
          <key>scaleV</key>
          <real>1.01272961389</real>
          <key>tracking</key>
          <real>13.0</real>
        </dict>
        <key>uc</key>
        <dict>
          <key>interpH</key>
          <real>0.72</real>
          <key>interpV</key>
          <real>0.64</real>
          <key>problem</key>
          <false/>
          <key>scaleH</key>
          <real>1.0</real>
          <key>scaleV</key>
          <real>1.0</real>
          <key>tracking</key>
          <real>14.0</real>
        </dict>
      </dict>
      <key>otherOption</key>
      <integer>1</integer>
      <key>skewOption</key>
      <integer>1</integer>
    </dict>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>public.glyphOrder</key>
    <array>
      <string>space</string>
      <string>nbspace</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>Eth</string>
      <string>Oslash</string>
      <string>Dcroat</string>
      <string>Hbar</string>
      <string>Lslash</string>
      <string>Tbar</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>primemod</string>
      <string>primedblmod</string>
      <string>apostrophemod</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
      <string>underscore</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketangleleft</string>
      <string>bracketangleright</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>perthousand</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>daggerdbl</string>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>slash</string>
      <string>backslash</string>
      <string>fraction</string>
      <string>bar</string>
      <string>brokenbar</string>
      <string>ampersand</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>minute</string>
      <string>second</string>
      <string>plus</string>
      <string>minus</string>
      <string>plusminus</string>
      <string>divide</string>
      <string>multiply</string>
      <string>equal</string>
      <string>less</string>
      <string>greater</string>
      <string>approxequal</string>
      <string>notequal</string>
      <string>asciitilde</string>
      <string>logicalnot</string>
      <string>commercialminussign</string>
      <string>divisionslash</string>
      <string>bulletoperator</string>
      <string>peseta</string>
      <string>dong</string>
      <string>Euro</string>
      <string>indianrupee</string>
      <string>turkishlira</string>
      <string>manat</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>degree</string>
      <string>zero.superior</string>
      <string>four.superior</string>
      <string>h.alt</string>
      <string>m.alt</string>
      <string>n.alt</string>
      <string>s.alt</string>
      <string>ampersand.alt</string>
    </array>
  </dict>
</plist>
