<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexdotbelow</key>
    <string>A_circumflexdotbelow.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Ainvertedbreve</key>
    <string>A_invertedbreve.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sacutedotaccent</key>
    <string>S_acutedotaccent.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.alt</key>
    <string>g.alt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.alt</key>
    <string>h.alt.glif</string>
    <key>hyphensoft</key>
    <string>hyphensoft.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>m.alt</key>
    <string>m.alt.glif</string>
    <key>n.alt</key>
    <string>n.alt.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.alt</key>
    <string>s.alt.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
