<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6FF493B1-EA65-4F0B-89FF-19A90F7A86CA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreve</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreveacute</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevedotbelow</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevegrave</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevehookabove</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevetilde</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexacute</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexdotbelow</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexgrave</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexhookabove</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflextilde</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ainvertedbreve</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aring</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aringacute</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Sacutedotaccent</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.alt</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphensoft</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.alt</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.alt</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>10</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
