<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.cap</key>
    <string>acute.cap.glif</string>
    <key>acutecmb</key>
    <string>acutecmb.glif</string>
    <key>belowbrevecmb</key>
    <string>belowbrevecmb.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve.cap</key>
    <string>breve.cap.glif</string>
    <key>breveacute</key>
    <string>breveacute.glif</string>
    <key>breveacute.cap</key>
    <string>breveacute.cap.glif</string>
    <key>brevecmb</key>
    <string>brevecmb.glif</string>
    <key>brevegrave</key>
    <string>brevegrave.glif</string>
    <key>brevegrave.cap</key>
    <string>brevegrave.cap.glif</string>
    <key>brevehook</key>
    <string>brevehook.glif</string>
    <key>brevehook.cap</key>
    <string>brevehook.cap.glif</string>
    <key>brevetilde</key>
    <string>brevetilde.glif</string>
    <key>brevetilde.cap</key>
    <string>brevetilde.cap.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caron.cap</key>
    <string>caron.cap.glif</string>
    <key>caroncmb</key>
    <string>caroncmb.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cedillacmb</key>
    <string>cedillacmb.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflex.cap</key>
    <string>circumflex.cap.glif</string>
    <key>circumflexacute</key>
    <string>circumflexacute.glif</string>
    <key>circumflexacute.cap</key>
    <string>circumflexacute.cap.glif</string>
    <key>circumflexcmb</key>
    <string>circumflexcmb.glif</string>
    <key>circumflexgrave</key>
    <string>circumflexgrave.glif</string>
    <key>circumflexgrave.cap</key>
    <string>circumflexgrave.cap.glif</string>
    <key>circumflexhook</key>
    <string>circumflexhook.glif</string>
    <key>circumflexhook.cap</key>
    <string>circumflexhook.cap.glif</string>
    <key>circumflextilde</key>
    <string>circumflextilde.glif</string>
    <key>circumflextilde.cap</key>
    <string>circumflextilde.cap.glif</string>
    <key>commaaccentbelowcmb</key>
    <string>commaaccentbelowcmb.glif</string>
    <key>commaturnedabovecmb</key>
    <string>commaturnedabovecmb.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresis.cap</key>
    <string>dieresis.cap.glif</string>
    <key>dieresisbelowcmb</key>
    <string>dieresisbelowcmb.glif</string>
    <key>dieresiscmb</key>
    <string>dieresiscmb.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotaccent.cap</key>
    <string>dotaccent.cap.glif</string>
    <key>dotaccentcmb</key>
    <string>dotaccentcmb.glif</string>
    <key>dotbelowcmb</key>
    <string>dotbelowcmb.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>grave.cap</key>
    <string>grave.cap.glif</string>
    <key>gravecmb</key>
    <string>gravecmb.glif</string>
    <key>gravedouble.cap</key>
    <string>gravedouble.cap.glif</string>
    <key>gravedoublecmb</key>
    <string>gravedoublecmb.glif</string>
    <key>hook.cap</key>
    <string>hook.cap.glif</string>
    <key>hookcmb</key>
    <string>hookcmb.glif</string>
    <key>horncmb</key>
    <string>horncmb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut.cap</key>
    <string>hungarumlaut.cap.glif</string>
    <key>hungarumlautcmb</key>
    <string>hungarumlautcmb.glif</string>
    <key>invertedbreve.cap</key>
    <string>invertedbreve.cap.glif</string>
    <key>invertedbrevecmb</key>
    <string>invertedbrevecmb.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macron.cap</key>
    <string>macron.cap.glif</string>
    <key>macronbelowcmb</key>
    <string>macronbelowcmb.glif</string>
    <key>macroncmb</key>
    <string>macroncmb.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcmb</key>
    <string>ogonekcmb.glif</string>
    <key>primedblmod</key>
    <string>primedblmod.glif</string>
    <key>primemod</key>
    <string>primemod.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ring.cap</key>
    <string>ring.cap.glif</string>
    <key>ringacute</key>
    <string>ringacute.glif</string>
    <key>ringcmb</key>
    <string>ringcmb.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tilde.cap</key>
    <string>tilde.cap.glif</string>
    <key>tildecmb</key>
    <string>tildecmb.glif</string>
    <key>turnedcommaabovecmb</key>
    <string>turnedcommaabovecmb.glif</string>
  </dict>
</plist>
