<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>93D1F26F-CAC4-43EA-A5F4-F8A87CF6F869</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecmb</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.belowbrevecmb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve.cap</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute.cap</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecmb</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave.cap</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook.cap</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacmb</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.cap</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcmb</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave.cap</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook.cap</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentbelowcmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaturnedabovecmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresisbelowcmb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccentcmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotbelowcmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecmb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravedouble.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravedoublecmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hook.cap</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut.cap</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcmb</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.invertedbreve.cap</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.invertedbrevecmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronbelowcmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncmb</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minute</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcmb</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.primedblmod</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.primemod</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringacute</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.second</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecmb</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turnedcommaabovecmb</key>
      <integer>16</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowFill</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
