<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>DZcaron</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Dzcaron</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Eng</string>
      <string>Eogonek</string>
      <string>Eth</string>
      <string>Etilde</string>
      <string>Euro</string>
      <string>F</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Germandbls</string>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJacute</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>L</string>
      <string>LJ</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lj</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>NJ</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Nj</string>
      <string>Ntilde</string>
      <string>O</string>
      <string>OE</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odieresismacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Otildemacron</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rinvertedbreve</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Schwa</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Thorn</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhoi</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>V</string>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>acute</string>
      <string>acutecomb</string>
      <string>acutecomb.case</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>ampersand</string>
      <string>ampersand.alt</string>
      <string>aogonek</string>
      <string>apostrophemod</string>
      <string>approxequal</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>asciicircum</string>
      <string>asciitilde</string>
      <string>asterisk</string>
      <string>at</string>
      <string>atilde</string>
      <string>b</string>
      <string>backslash</string>
      <string>bar</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>bracketangleleft</string>
      <string>bracketangleright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>breve</string>
      <string>brevebelowcomb</string>
      <string>brevebelowcomb.case</string>
      <string>brevecomb</string>
      <string>brevecomb.case</string>
      <string>breveinvertedcomb</string>
      <string>breveinvertedcomb.case</string>
      <string>brokenbar</string>
      <string>bullet</string>
      <string>bulletoperator</string>
      <string>c</string>
      <string>cacute</string>
      <string>caron</string>
      <string>caroncomb</string>
      <string>caroncomb.alt</string>
      <string>caroncomb.case</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>cedi</string>
      <string>cedilla</string>
      <string>cedillacomb</string>
      <string>cedillacomb.case</string>
      <string>cent</string>
      <string>circumflex</string>
      <string>circumflexcomb</string>
      <string>circumflexcomb.case</string>
      <string>colon</string>
      <string>colonmonetary</string>
      <string>comma</string>
      <string>commaaccentcomb</string>
      <string>commaaccentcomb.case</string>
      <string>commercialminussign</string>
      <string>copyright</string>
      <string>currency</string>
      <string>d</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>dblgravecomb.case</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>degree</string>
      <string>dieresis</string>
      <string>dieresisbelowcomb</string>
      <string>dieresisbelowcomb.case</string>
      <string>dieresiscomb</string>
      <string>dieresiscomb.case</string>
      <string>divide</string>
      <string>divisionslash</string>
      <string>dollar</string>
      <string>dong</string>
      <string>dotaccent</string>
      <string>dotaccentcomb</string>
      <string>dotaccentcomb.case</string>
      <string>dotbelowcomb</string>
      <string>dotbelowcomb.case</string>
      <string>dotlessi</string>
      <string>doubleprimemod</string>
      <string>dzcaron</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>eight</string>
      <string>einvertedbreve</string>
      <string>ellipsis</string>
      <string>emacron</string>
      <string>emdash</string>
      <string>endash</string>
      <string>eng</string>
      <string>eogonek</string>
      <string>equal</string>
      <string>eth</string>
      <string>etilde</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>f</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>fhook</string>
      <string>fi</string>
      <string>five</string>
      <string>fl</string>
      <string>four</string>
      <string>four.superior</string>
      <string>fraction</string>
      <string>franc</string>
      <string>g</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>germandbls</string>
      <string>grave</string>
      <string>gravecomb</string>
      <string>gravecomb.case</string>
      <string>greater</string>
      <string>greaterequal</string>
      <string>guarani</string>
      <string>guillemetleft</string>
      <string>guillemetright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>hookabove</string>
      <string>hookabovecomb</string>
      <string>hookabovecomb.case</string>
      <string>horncomb</string>
      <string>horncomb.case</string>
      <string>hungarumlaut</string>
      <string>hungarumlautcomb</string>
      <string>hungarumlautcomb.case</string>
      <string>hyphen</string>
      <string>hyphensoft</string>
      <string>i</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>idotless</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>iinvertedbreve</string>
      <string>ijacute</string>
      <string>imacron</string>
      <string>indianrupee</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>j</string>
      <string>jcircumflex</string>
      <string>jdotless</string>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kip</string>
      <string>kra</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>less</string>
      <string>lessequal</string>
      <string>lira</string>
      <string>lj</string>
      <string>logicalnot</string>
      <string>lslash</string>
      <string>m</string>
      <string>macron</string>
      <string>macronbelowcomb</string>
      <string>macronbelowcomb.case</string>
      <string>macroncomb</string>
      <string>macroncomb.case</string>
      <string>manat</string>
      <string>minus</string>
      <string>minute</string>
      <string>mu</string>
      <string>multiply</string>
      <string>n</string>
      <string>nacute</string>
      <string>naira</string>
      <string>napostrophe</string>
      <string>nbspace</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>nine</string>
      <string>nj</string>
      <string>notequal</string>
      <string>ntilde</string>
      <string>numbersign</string>
      <string>numero</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>oe</string>
      <string>ogonek</string>
      <string>ogonekcomb</string>
      <string>ogonekcomb.case</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>one</string>
      <string>onehalf</string>
      <string>onequarter</string>
      <string>onesuperior</string>
      <string>oogonek</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>otildemacron</string>
      <string>p</string>
      <string>paragraph</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>percent</string>
      <string>period</string>
      <string>periodcentered</string>
      <string>perthousand</string>
      <string>peseta</string>
      <string>peso</string>
      <string>plus</string>
      <string>plusminus</string>
      <string>primemod</string>
      <string>q</string>
      <string>question</string>
      <string>questiondown</string>
      <string>quotedbl</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotesingle</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>registered</string>
      <string>ring</string>
      <string>ringcomb</string>
      <string>ringcomb.case</string>
      <string>rinvertedbreve</string>
      <string>ruble</string>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>schwa</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>second</string>
      <string>section</string>
      <string>semicolon</string>
      <string>seven</string>
      <string>six</string>
      <string>slash</string>
      <string>space</string>
      <string>sterling</string>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>thorn</string>
      <string>three</string>
      <string>threequarters</string>
      <string>threesuperior</string>
      <string>tilde</string>
      <string>tildecomb</string>
      <string>tildecomb.case</string>
      <string>trademark</string>
      <string>turkishlira</string>
      <string>two</string>
      <string>twosuperior</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhoi</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>underscore</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>v</string>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>won</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>yen</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ymacron</string>
      <string>ytilde</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zero</string>
      <string>zero.superior</string>
    </array>
  </dict>
</plist>
