<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1510</integer>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>copyright</key>
    <string>Copyright 2020 The Fraunces Project Authors (github.com/undercasetype/Fraunces)</string>
    <key>descender</key>
    <integer>-490</integer>
    <key>familyName</key>
    <string>Fraunces</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>scwvmLjc5Y</string>
        <key>name</key>
        <string>mid x-height</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>467.96209998629115</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>KuUyySBE2i</string>
        <key>name</key>
        <string>ascender</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1440</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>rv7chFDbDd</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>970</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>FD4ZvNP5xs</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-30</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>st49t3sIcE</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-510</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>TlfQRmYguP</string>
        <key>name</key>
        <string>mid x-height</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>470</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>PJS0Mgq3BA</string>
        <key>name</key>
        <string>bottom2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>980</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>IyYLJOAPoy</string>
        <key>name</key>
        <string>top2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>590</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>qzXjb1yBep</string>
        <key>name</key>
        <string>top3</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>510</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>0Ep2lCXi9b</string>
        <key>name</key>
        <string>top4</string>
        <key>x</key>
        <integer>-103</integer>
        <key>y</key>
        <integer>144</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>-16</integer>
    <key>openTypeHheaAscender</key>
    <integer>1956</integer>
    <key>openTypeHheaDescender</key>
    <integer>-510</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1956</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-510</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>UCT</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2340</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>609</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-300</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>9pt Black Italic</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>940</integer>
  </dict>
</plist>
