<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>02090C31-803A-48A6-A87F-890DBADD3D25</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.cap</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde.cap</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute.cap</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde.cap</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.superior</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turnedcommaabovecmb</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v.alt</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>9</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowFill</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
