<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1691.2000000000003</real>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>descender</key>
    <real>-548.8000000000001</real>
    <key>familyName</key>
    <string>Fraunces Italic</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>ascender</string>
        <key>x</key>
        <real>-13.334800000000001</real>
        <key>y</key>
        <real>1520.0082000000002</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>mid x-height</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>476.788</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Light OpMin GoofyMax</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <real>1007.1040000000002</real>
  </dict>
</plist>
