<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>X</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.V</key>
      <integer>-36</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.leftquote</key>
      <real>-11.666666666666666</real>
      <key>public.kern2.rightquote</key>
      <real>-37.333333333333336</real>
    </dict>
    <key>F</key>
    <dict>
      <key>p</key>
      <real>-13.333333333333334</real>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.J</key>
      <real>-49.33333333333333</real>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <real>-53.333333333333336</real>
      <key>public.kern2.s</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.u</key>
      <real>-23.333333333333332</real>
    </dict>
    <key>M</key>
    <dict>
      <key>public.kern2.v</key>
      <real>-11.666666666666666</real>
      <key>y</key>
      <real>-11.666666666666666</real>
      <key>yacute</key>
      <real>-11.666666666666666</real>
      <key>ycircumflex</key>
      <real>-11.666666666666666</real>
      <key>ydieresis</key>
      <real>-11.666666666666666</real>
      <key>ydotaccent</key>
      <real>-11.666666666666666</real>
      <key>ydotbelow</key>
      <real>-11.666666666666666</real>
      <key>ygrave</key>
      <real>-11.666666666666666</real>
      <key>yhookabove</key>
      <real>-11.666666666666666</real>
      <key>ymacron</key>
      <real>-11.666666666666666</real>
      <key>ytilde</key>
      <real>-11.666666666666666</real>
    </dict>
    <key>Mdotbelow</key>
    <dict>
      <key>public.kern2.v</key>
      <real>-11.666666666666666</real>
      <key>y</key>
      <real>-11.666666666666666</real>
      <key>yacute</key>
      <real>-11.666666666666666</real>
      <key>ycircumflex</key>
      <real>-11.666666666666666</real>
      <key>ydieresis</key>
      <real>-11.666666666666666</real>
      <key>ydotaccent</key>
      <real>-11.666666666666666</real>
      <key>ydotbelow</key>
      <real>-11.666666666666666</real>
      <key>ygrave</key>
      <real>-11.666666666666666</real>
      <key>yhookabove</key>
      <real>-11.666666666666666</real>
      <key>ymacron</key>
      <real>-11.666666666666666</real>
      <key>ytilde</key>
      <real>-11.666666666666666</real>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <real>-9.333333333333334</real>
      <key>ampersand.alt</key>
      <integer>-21</integer>
      <key>public.kern2.A</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.V</key>
      <real>-13.333333333333334</real>
      <key>public.kern2.Y</key>
      <real>-13.333333333333334</real>
      <key>public.kern2.g</key>
      <real>-10.666666666666666</real>
      <key>public.kern2.o</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>idblgrave</key>
      <real>-44.16666666666667</real>
      <key>idieresis</key>
      <real>-44.16666666666667</real>
      <key>idieresisacute</key>
      <real>-44.16666666666667</real>
      <key>itilde</key>
      <real>-44.16666666666667</real>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.o</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.rightquote</key>
      <real>-25.666666666666668</real>
      <key>public.kern2.t</key>
      <real>-13.333333333333334</real>
      <key>public.kern2.u</key>
      <real>-13.333333333333334</real>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-23.333333333333332</real>
    </dict>
    <key>ampersand.alt</key>
    <dict>
      <key>public.kern2.Y</key>
      <real>-23.333333333333332</real>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>i</key>
      <real>46.666666666666664</real>
    </dict>
    <key>four</key>
    <dict>
      <key>seven</key>
      <real>-57.5</real>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>i</key>
      <real>46.666666666666664</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>apostrophemod</key>
      <real>-46.666666666666664</real>
      <key>public.kern2.T</key>
      <integer>-75</integer>
      <key>public.kern2.V</key>
      <integer>-75</integer>
      <key>public.kern2.Y</key>
      <real>-61.666666666666664</real>
      <key>public.kern2.g</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.leftquote</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <real>-10.666666666666666</real>
      <key>public.kern2.rightquote</key>
      <real>-133.66666666666666</real>
      <key>public.kern2.s</key>
      <real>-10.666666666666666</real>
      <key>public.kern2.v</key>
      <real>-76.66666666666667</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-7</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-14</integer>
      <key>public.kern2.T</key>
      <real>-11.666666666666666</real>
      <key>public.kern2.U</key>
      <real>-21.46666666666667</real>
      <key>public.kern2.Y</key>
      <real>-18.666666666666668</real>
      <key>public.kern2.leftquote</key>
      <real>-16.333333333333332</real>
      <key>public.kern2.u</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.V</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.leftquote</key>
      <integer>-150</integer>
      <key>public.kern2.rightquote</key>
      <integer>-164</integer>
      <key>public.kern2.v</key>
      <real>-25.333333333333332</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.leftquote</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.rightquote</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <real>-25.666666666666668</real>
      <key>public.kern2.o</key>
      <real>-5.333333333333333</real>
      <key>x</key>
      <integer>14</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-9.333333333333334</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>p</key>
      <real>-48.33333333333333</real>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <real>-111.66666666666667</real>
      <key>public.kern2.g</key>
      <real>-111.66666666666667</real>
      <key>public.kern2.j</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.n</key>
      <real>-55.833333333333336</real>
      <key>public.kern2.o</key>
      <real>-111.66666666666667</real>
      <key>public.kern2.period</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.s</key>
      <real>-88.33333333333334</real>
      <key>public.kern2.u</key>
      <real>-48.33333333333333</real>
      <key>public.kern2.v</key>
      <integer>-35</integer>
      <key>public.kern2.z</key>
      <real>-61.666666666666664</real>
      <key>x</key>
      <real>-23.333333333333332</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-17.5</real>
      <key>public.kern2.g</key>
      <real>-9.333333333333334</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>p</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.A</key>
      <real>-80.83333333333333</real>
      <key>public.kern2.J</key>
      <real>-49.33333333333333</real>
      <key>public.kern2.a</key>
      <real>-124.99999999999999</real>
      <key>public.kern2.g</key>
      <real>-122.33333333333333</real>
      <key>public.kern2.j</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.n</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <real>-124.99999999999999</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <real>-110.66666666666667</real>
      <key>public.kern2.t</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.u</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.v</key>
      <real>-75.00000000000001</real>
      <key>public.kern2.z</key>
      <real>-87.33333333333334</real>
      <key>x</key>
      <real>-75.00000000000001</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>ampersand</key>
      <real>-23.333333333333332</real>
      <key>ampersand.alt</key>
      <real>-23.333333333333332</real>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <real>-61.666666666666664</real>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <real>10.733333333333334</real>
      <key>public.kern2.a</key>
      <real>-111.66666666666666</real>
      <key>public.kern2.g</key>
      <real>-116.5</real>
      <key>public.kern2.j</key>
      <real>-46.666666666666664</real>
      <key>public.kern2.n</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.o</key>
      <real>-122.33333333333333</real>
      <key>public.kern2.period</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.s</key>
      <real>-116.5</real>
      <key>public.kern2.t</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.u</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.v</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.z</key>
      <integer>-100</integer>
      <key>x</key>
      <real>-86.66666666666667</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.v</key>
      <real>-26.666666666666668</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.v</key>
      <real>-11.666666666666666</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.rightquote</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.V</key>
      <real>11.666666666666666</real>
      <key>public.kern2.Y</key>
      <real>2.3333333333333335</real>
      <key>public.kern2.leftquote</key>
      <real>18.666666666666668</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>36</integer>
      <key>public.kern2.Z</key>
      <real>10.666666666666666</real>
      <key>public.kern2.leftquote</key>
      <real>53.333333333333336</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.Y</key>
      <real>-46.666666666666664</real>
      <key>public.kern2.leftquote</key>
      <real>-18.666666666666668</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.Y</key>
      <real>-46.666666666666664</real>
      <key>public.kern2.Z</key>
      <real>10.666666666666666</real>
      <key>public.kern2.leftquote</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.rightquote</key>
      <real>-18.666666666666668</real>
    </dict>
    <key>public.kern1.leftquote</key>
    <dict>
      <key>X</key>
      <real>-18.666666666666668</real>
      <key>p</key>
      <integer>-42</integer>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.H</key>
      <integer>-28</integer>
      <key>public.kern2.J</key>
      <integer>-136</integer>
      <key>public.kern2.U</key>
      <real>-21.46666666666667</real>
      <key>public.kern2.V</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.Y</key>
      <integer>-7</integer>
      <key>public.kern2.a</key>
      <real>-53.666666666666664</real>
      <key>public.kern2.g</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.j</key>
      <real>-39.666666666666664</real>
      <key>public.kern2.n</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.o</key>
      <real>-54.13333333333333</real>
      <key>public.kern2.period</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.s</key>
      <real>-46.666666666666664</real>
      <key>public.kern2.t</key>
      <real>-18.666666666666668</real>
      <key>public.kern2.u</key>
      <real>-37.333333333333336</real>
      <key>public.kern2.v</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.z</key>
      <real>-60.66666666666667</real>
      <key>x</key>
      <real>-46.666666666666664</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <integer>-49</integer>
      <key>public.kern2.v</key>
      <integer>-7</integer>
    </dict>
    <key>public.kern1.n.alt</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <integer>-49</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.V</key>
      <real>-87.33333333333334</real>
      <key>public.kern2.Y</key>
      <real>-110.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.v</key>
      <real>-11.666666666666666</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.V</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.Y</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.leftquote</key>
      <real>-140.66666666666666</real>
      <key>public.kern2.rightquote</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <real>-11.666666666666666</real>
      <key>public.kern2.T</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
      <key>public.kern2.rightquote</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.v</key>
      <real>-5.833333333333333</real>
    </dict>
    <key>public.kern1.rightquote</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-130.33333333333334</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.V</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.Y</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.leftquote</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.o</key>
      <real>-5.833333333333333</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>X</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.A</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.a</key>
      <real>-11.666666666666666</real>
      <key>public.kern2.g</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.o</key>
      <real>-11.666666666666666</real>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-40</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-13.333333333333334</real>
      <key>public.kern2.V</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.rightquote</key>
      <real>-23.333333333333332</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <real>-19.166666666666668</real>
      <key>four</key>
      <real>-132.50000000000003</real>
      <key>nine</key>
      <real>-5.833333333333333</real>
      <key>six</key>
      <real>-5.833333333333333</real>
      <key>two</key>
      <real>-13.333333333333334</real>
      <key>zero</key>
      <real>-30.833333333333332</real>
    </dict>
    <key>tcaron</key>
    <dict>
      <key>i</key>
      <real>46.666666666666664</real>
      <key>j</key>
      <real>46.666666666666664</real>
    </dict>
    <key>uhorn</key>
    <dict>
      <key>f</key>
      <real>17.5</real>
    </dict>
    <key>x</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.V</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.rightquote</key>
      <real>-32.666666666666664</real>
    </dict>
  </dict>
</plist>
