<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>755</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>descender</key>
    <integer>-245</integer>
    <key>familyName</key>
    <string>Chauncy</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>22d68oYG5v</string>
        <key>x</key>
        <integer>-15</integer>
        <key>y</key>
        <integer>-15</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>U5ZmC5I85V</string>
        <key>x</key>
        <integer>88</integer>
        <key>y</key>
        <integer>465</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>nnL7BBxdSI</string>
        <key>x</key>
        <integer>822</integer>
        <key>y</key>
        <integer>715</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>-17</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>Chauncy-ItalicThin</string>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Italic Thin</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>xHeight</key>
    <real>450.0</real>
  </dict>
</plist>
