<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1510</integer>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>copyright</key>
    <string>Copyright 2020 The Fraunces Project Authors (github.com/undercasetype/Fraunces)</string>
    <key>descender</key>
    <real>-450.8</real>
    <key>familyName</key>
    <string>Fraunces Italic</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>0ryrWdi52e</string>
        <key>name</key>
        <string>mid x-height</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>451.008</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>QEjfqWxjGn</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>916</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>2fws5t3GwQ</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-20</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>B0P0PTlrd5</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-490</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>UVPnDcLtjt</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1420</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ZZzzIohQZu</string>
        <key>name</key>
        <string>ascender</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1470</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>UTF</string>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Black OpMax GoofyMax</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>865.9040000000001</real>
  </dict>
</plist>
