<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>X</key>
      <integer>-40</integer>
      <key>public.kern2.A</key>
      <integer>-5</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.H</key>
      <integer>-15</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>50</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.g</key>
      <integer>-25</integer>
      <key>public.kern2.l.alt</key>
      <integer>25</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.period</key>
      <integer>-160</integer>
      <key>public.kern2.s</key>
      <integer>-25</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <integer>-70</integer>
      <key>public.kern2.A</key>
      <integer>-160</integer>
      <key>public.kern2.H</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.N</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-40</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-270</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>X</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-120</integer>
      <key>public.kern2.H</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-130</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.N</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <integer>75</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>b</key>
    <dict>
      <key>p</key>
      <integer>15</integer>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.j</key>
      <integer>15</integer>
      <key>public.kern2.l</key>
      <integer>-15</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>30</integer>
      <key>public.kern2.v.alt</key>
      <integer>25</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
      <key>thorn</key>
      <integer>70</integer>
      <key>x</key>
      <integer>-25</integer>
    </dict>
    <key>braceleft</key>
    <dict>
      <key>public.kern2.l.alt</key>
      <integer>25</integer>
    </dict>
    <key>eight</key>
    <dict>
      <key>five</key>
      <integer>10</integer>
      <key>four</key>
      <integer>30</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>five</key>
    <dict>
      <key>eight</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>30</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-60</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>eight</key>
      <integer>40</integer>
      <key>five</key>
      <integer>50</integer>
      <key>four</key>
      <integer>90</integer>
      <key>nine</key>
      <integer>20</integer>
      <key>seven</key>
      <integer>-10</integer>
      <key>three</key>
      <integer>40</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>5</integer>
    </dict>
    <key>nine</key>
    <dict>
      <key>four</key>
      <integer>40</integer>
      <key>one</key>
      <integer>-30</integer>
      <key>two</key>
      <integer>-60</integer>
    </dict>
    <key>one</key>
    <dict>
      <key>eight</key>
      <integer>20</integer>
      <key>five</key>
      <integer>30</integer>
      <key>four</key>
      <integer>-10</integer>
      <key>nine</key>
      <integer>20</integer>
      <key>one</key>
      <integer>20</integer>
      <key>three</key>
      <integer>40</integer>
    </dict>
    <key>parenleft</key>
    <dict>
      <key>public.kern2.l.alt</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>p</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.N</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-110</integer>
      <key>public.kern2.U</key>
      <integer>-85</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-110</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.N</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.S</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>25</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.N</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>25</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-60</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.v.alt</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>15</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-120</integer>
      <key>public.kern2.v.alt</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>30</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
      <key>public.kern2.v.alt</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>30</integer>
      <key>public.kern2.H</key>
      <integer>-10</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-160</integer>
      <key>public.kern2.U</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2.period</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>X</key>
      <integer>60</integer>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.H</key>
      <integer>20</integer>
      <key>public.kern2.J</key>
      <integer>10</integer>
      <key>public.kern2.N</key>
      <integer>10</integer>
      <key>public.kern2.O</key>
      <integer>20</integer>
      <key>public.kern2.S</key>
      <integer>15</integer>
      <key>public.kern2.T</key>
      <integer>90</integer>
      <key>public.kern2.U</key>
      <integer>10</integer>
      <key>public.kern2.V</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>70</integer>
      <key>public.kern2.Z</key>
      <integer>40</integer>
      <key>public.kern2.l.alt</key>
      <integer>75</integer>
      <key>thorn</key>
      <integer>75</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>X</key>
      <integer>-60</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.H</key>
      <integer>-15</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.N</key>
      <integer>-35</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-105</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>10</integer>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-25</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.N</key>
      <integer>-25</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-85</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>X</key>
      <integer>70</integer>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.N</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-25</integer>
      <key>public.kern2.T</key>
      <integer>80</integer>
      <key>public.kern2.U</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>40</integer>
      <key>public.kern2.Y</key>
      <integer>80</integer>
      <key>public.kern2.Z</key>
      <integer>5</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.l</key>
      <integer>-50</integer>
      <key>public.kern2.l.alt</key>
      <integer>50</integer>
      <key>public.kern2.n</key>
      <integer>-75</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-200</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-75</integer>
      <key>public.kern2.v</key>
      <integer>-75</integer>
      <key>public.kern2.v.alt</key>
      <integer>-100</integer>
      <key>public.kern2.z</key>
      <integer>-75</integer>
      <key>x</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>X</key>
      <integer>20</integer>
      <key>public.kern2.A</key>
      <integer>-130</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.N</key>
      <integer>-20</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.S</key>
      <integer>-35</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.V</key>
      <integer>10</integer>
      <key>public.kern2.Y</key>
      <integer>20</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.period</key>
      <integer>-140</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>X</key>
      <integer>40</integer>
      <key>public.kern2.A</key>
      <integer>-220</integer>
      <key>public.kern2.N</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>50</integer>
      <key>public.kern2.Y</key>
      <integer>60</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.l.alt</key>
      <integer>50</integer>
      <key>public.kern2.n</key>
      <integer>-74</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-320</integer>
      <key>public.kern2.s</key>
      <integer>-75</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.v.alt</key>
      <integer>-50</integer>
      <key>public.kern2.z</key>
      <integer>-100</integer>
      <key>x</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>X</key>
      <integer>40</integer>
      <key>public.kern2.A</key>
      <integer>-160</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>80</integer>
      <key>public.kern2.V</key>
      <integer>20</integer>
      <key>public.kern2.Y</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <integer>-75</integer>
      <key>public.kern2.g</key>
      <integer>-75</integer>
      <key>public.kern2.l.alt</key>
      <integer>125</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-75</integer>
      <key>public.kern2.period</key>
      <integer>-220</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
      <key>public.kern2.v.alt</key>
      <integer>-50</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-20</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.N</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.v.alt</key>
      <integer>-5</integer>
      <key>thorn</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.T</key>
      <integer>-170</integer>
      <key>public.kern2.U</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-160</integer>
      <key>public.kern2.Y</key>
      <integer>-180</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>5</integer>
      <key>public.kern2.l</key>
      <integer>-35</integer>
      <key>public.kern2.l.alt</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>20</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>thorn</key>
      <integer>50</integer>
      <key>x</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>X</key>
      <integer>-30</integer>
      <key>public.kern2.H</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-170</integer>
      <key>public.kern2.U</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-160</integer>
      <key>public.kern2.Y</key>
      <integer>-200</integer>
      <key>public.kern2.Z</key>
      <integer>-30</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.l.alt</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>thorn</key>
      <integer>50</integer>
      <key>x</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-45</integer>
      <key>public.kern2.f</key>
      <integer>30</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>35</integer>
      <key>public.kern2.n</key>
      <integer>30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.rightquote</key>
      <integer>100</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>20</integer>
      <key>public.kern2.v</key>
      <integer>60</integer>
      <key>public.kern2.v.alt</key>
      <integer>35</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>110</integer>
      <key>x</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>p</key>
      <integer>20</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.f</key>
      <integer>30</integer>
      <key>public.kern2.j</key>
      <integer>40</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.s</key>
      <integer>-35</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>30</integer>
      <key>public.kern2.v.alt</key>
      <integer>25</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>thorn</key>
      <integer>70</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>15</integer>
      <key>public.kern2.g</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.l.alt</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>5</integer>
      <key>public.kern2.v.alt</key>
      <integer>-25</integer>
      <key>thorn</key>
      <integer>70</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.l.alt</key>
      <integer>10</integer>
      <key>public.kern2.n</key>
      <integer>5</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>100</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.l</key>
      <integer>-25</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>thorn</key>
      <integer>80</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>braceright</key>
      <integer>100</integer>
      <key>parenright</key>
      <integer>50</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.f</key>
      <integer>20</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>30</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.leftquote</key>
      <integer>50</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.rightquote</key>
      <integer>100</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
      <key>public.kern2.v.alt</key>
      <integer>-40</integer>
      <key>public.kern2.z</key>
      <integer>-35</integer>
      <key>schwa</key>
      <integer>-20</integer>
      <key>thorn</key>
      <integer>140</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.l.alt</key>
    <dict>
      <key>public.kern2.u</key>
      <integer>-10</integer>
      <key>public.kern2.v.alt</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.leftquote</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-100</integer>
      <key>questiondown</key>
      <integer>-200</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>10</integer>
      <key>public.kern2.j</key>
      <integer>5</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.v.alt</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <integer>-30</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>thorn</key>
      <integer>30</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>20</integer>
      <key>public.kern2.O</key>
      <integer>-100</integer>
      <key>public.kern2.T</key>
      <integer>-200</integer>
      <key>public.kern2.U</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-230</integer>
      <key>public.kern2.Y</key>
      <integer>-140</integer>
      <key>public.kern2.leftquote</key>
      <integer>-150</integer>
      <key>public.kern2.rightquote</key>
      <integer>-150</integer>
      <key>public.kern2.v.alt</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>15</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <integer>-50</integer>
      <key>public.kern2.l.alt</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>25</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>5</integer>
      <key>public.kern2.u</key>
      <integer>15</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
      <key>public.kern2.v.alt</key>
      <integer>50</integer>
      <key>thorn</key>
      <integer>50</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.rightquote</key>
    <dict>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>public.kern2.l.alt</key>
      <integer>50</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-15</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.l.alt</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-25</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>20</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>30</integer>
      <key>x</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-35</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>30</integer>
      <key>public.kern2.v.alt</key>
      <integer>20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
      <key>x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.l.alt</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>10</integer>
      <key>public.kern2.v.alt</key>
      <integer>30</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>50</integer>
      <key>x</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.v.alt</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>5</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.v.alt</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.j</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <integer>-50</integer>
      <key>public.kern2.l.alt</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>10</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-5</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>35</integer>
      <key>public.kern2.v.alt</key>
      <integer>30</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>semicolon</key>
      <integer>-75</integer>
      <key>x</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.l.alt</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>30</integer>
      <key>thorn</key>
      <integer>60</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>p</key>
      <integer>60</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>40</integer>
      <key>public.kern2.j</key>
      <integer>100</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>15</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>15</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>40</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>110</integer>
      <key>x</key>
      <integer>-35</integer>
    </dict>
    <key>quoteright</key>
    <dict>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>public.kern2.n</key>
      <integer>0</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>five</key>
      <integer>-10</integer>
      <key>four</key>
      <integer>-100</integer>
      <key>one</key>
      <integer>30</integer>
      <key>six</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-20</integer>
    </dict>
    <key>six</key>
    <dict>
      <key>five</key>
      <integer>10</integer>
      <key>four</key>
      <integer>30</integer>
      <key>one</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-40</integer>
    </dict>
    <key>three</key>
    <dict>
      <key>eight</key>
      <integer>20</integer>
      <key>five</key>
      <integer>20</integer>
      <key>four</key>
      <integer>40</integer>
      <key>two</key>
      <integer>-40</integer>
    </dict>
    <key>two</key>
    <dict>
      <key>eight</key>
      <integer>30</integer>
      <key>five</key>
      <integer>40</integer>
      <key>four</key>
      <integer>50</integer>
      <key>nine</key>
      <integer>20</integer>
      <key>one</key>
      <integer>-20</integer>
      <key>six</key>
      <integer>20</integer>
      <key>three</key>
      <integer>20</integer>
      <key>zero</key>
      <integer>10</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.j</key>
      <integer>20</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.l.alt</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>20</integer>
      <key>public.kern2.v</key>
      <integer>40</integer>
      <key>public.kern2.v.alt</key>
      <integer>50</integer>
      <key>thorn</key>
      <integer>60</integer>
    </dict>
    <key>y</key>
    <dict>
      <key>colon</key>
      <integer>-75</integer>
    </dict>
    <key>zero</key>
    <dict>
      <key>four</key>
      <integer>20</integer>
      <key>one</key>
      <integer>-40</integer>
      <key>seven</key>
      <integer>-20</integer>
      <key>two</key>
      <integer>-90</integer>
    </dict>
  </dict>
</plist>
