<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acute.cap</key>
    <string>acute.cap.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.alt</key>
    <string>b.alt.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>breve.cap</key>
    <string>breve.cap.glif</string>
    <key>breveacute</key>
    <string>breveacute.glif</string>
    <key>breveacute.cap</key>
    <string>breveacute.cap.glif</string>
    <key>brevegrave</key>
    <string>brevegrave.glif</string>
    <key>brevegrave.cap</key>
    <string>brevegrave.cap.glif</string>
    <key>brevehook</key>
    <string>brevehook.glif</string>
    <key>brevehook.cap</key>
    <string>brevehook.cap.glif</string>
    <key>brevetilde</key>
    <string>brevetilde.glif</string>
    <key>brevetilde.cap</key>
    <string>brevetilde.cap.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflex.cap</key>
    <string>circumflex.cap.glif</string>
    <key>circumflexacute</key>
    <string>circumflexacute.glif</string>
    <key>circumflexacute.cap</key>
    <string>circumflexacute.cap.glif</string>
    <key>circumflexcmb</key>
    <string>circumflexcmb.glif</string>
    <key>circumflexgrave</key>
    <string>circumflexgrave.glif</string>
    <key>circumflexgrave.cap</key>
    <string>circumflexgrave.cap.glif</string>
    <key>circumflexhook</key>
    <string>circumflexhook.glif</string>
    <key>circumflexhook.cap</key>
    <string>circumflexhook.cap.glif</string>
    <key>circumflextilde</key>
    <string>circumflextilde.glif</string>
    <key>circumflextilde.cap</key>
    <string>circumflextilde.cap.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentbelowcmb</key>
    <string>commaaccentbelowcmb.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.alt</key>
    <string>d.alt.glif</string>
    <key>ddotbelow</key>
    <string>ddotbelow.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>fhook</key>
    <string>fhook.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemetleft</key>
    <string>guillemetleft.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.alt</key>
    <string>h.alt.glif</string>
    <key>hook.cap</key>
    <string>hook.cap.glif</string>
    <key>hookcmb</key>
    <string>hookcmb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlaut.cap</key>
    <string>hungarumlaut.cap.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphensoft</key>
    <string>hyphensoft.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.alt</key>
    <string>k.alt.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>kra</key>
    <string>kra.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>l.alt</key>
    <string>l.alt.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>primedblmod</key>
    <string>primedblmod.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringacute</key>
    <string>ringacute.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>turnedcommaabovecmb</key>
    <string>turnedcommaabovecmb.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
