<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>19502362-159C-4FA5-9442-8D12B3AA1C54</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>24</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.cap</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve.cap</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute.cap</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave.cap</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook.cap</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde.cap</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.cap</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute.cap</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcmb</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave.cap</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook.cap</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde.cap</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentbelowcmb</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddotbelow</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fhook</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hook.cap</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut.cap</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphensoft</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>24</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kip</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kra</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lira</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalnot</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minute</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>24</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.primedblmod</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>24</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringacute</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.second</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>24</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turnedcommaabovecmb</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>20</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowFill</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
