<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colonmonetary</key>
    <string>colonmonetary.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>fhook</key>
    <string>fhook.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
  </dict>
</plist>
