<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>b</key>
    <string>b.glif</string>
    <key>b.alt</key>
    <string>b.alt.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.alt</key>
    <string>h.alt.glif</string>
    <key>o</key>
    <string>o.glif</string>
  </dict>
</plist>
