<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4589A6B2-131B-4532-B79A-D26F6C3F2169</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.AE</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dcroat</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eng</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.IJ</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.LJ</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lj</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.NJ</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Nj</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.cap</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.apostrophemod</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.approxequal</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.backslash</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.belowbrevecmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketangleleft</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketangleright</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve.cap</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde.cap</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bullet</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bulletoperator</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caroncmb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedi</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedillacmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.cap</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute.cap</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde.cap</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colonmonetary</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentbelowcmb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaturnedabovecmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commercialminussign</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.degree</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresisbelowcmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresiscmb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divide</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.divisionslash</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dong</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccent.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotaccentcmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotbelowcmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotlessi</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dotlessj</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ellipsis</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.equal</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f_f</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f_f_i</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f_f_l</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fhook</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fi</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fl</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four.superior</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fraction</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.franc</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecmb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravedouble.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravedoublecmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guarani</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hook.cap</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.horncmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut.cap</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphensoft</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.indianrupee</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.invertedbreve.cap</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.invertedbrevecmb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kip</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kra</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lira</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lj</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalnot</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macronbelowcmb</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macroncmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.manat</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minus</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minute</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.mu.math</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.naira</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nbspace</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nj</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numero</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onehalf</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onequarter</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onesuperior</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordfeminine</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ordmasculine</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.paragraph</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.periodcentered</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.perthousand</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peseta</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.peso</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plus</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.plusminus</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.primedblmod</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.primemod</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblbase</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteright</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesinglbase</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.registered</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringacute</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcmb</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringcomb</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ruble</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.schwa</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.second</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.space</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threequarters</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threesuperior</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde.cap</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tildecmb</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turkishlira</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turnedcommaabovecmb</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.twosuperior</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.won</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero.superior</key>
      <integer>11</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
