<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>b</key>
    <dict>
      <key>p</key>
      <integer>15</integer>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.l.alt</key>
      <integer>40</integer>
      <key>public.kern2.s</key>
      <integer>-25</integer>
      <key>public.kern2.v</key>
      <integer>30</integer>
      <key>public.kern2.v.alt</key>
      <integer>25</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
      <key>thorn</key>
      <integer>70</integer>
      <key>x</key>
      <integer>-25</integer>
    </dict>
    <key>germandbls</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>-15</integer>
      <key>public.kern2.n</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-15</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>5</integer>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.l.alt</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>20</integer>
      <key>public.kern2.z</key>
      <integer>-15</integer>
      <key>thorn</key>
      <integer>50</integer>
      <key>x</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.l.alt</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>-15</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-15</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>40</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>30</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>35</integer>
      <key>public.kern2.l</key>
      <integer>5</integer>
      <key>public.kern2.l.alt</key>
      <integer>20</integer>
      <key>public.kern2.n</key>
      <integer>25</integer>
      <key>public.kern2.o</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
      <key>public.kern2.v</key>
      <integer>60</integer>
      <key>public.kern2.v.alt</key>
      <integer>35</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
      <key>thorn</key>
      <integer>100</integer>
      <key>x</key>
      <integer>-60</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>p</key>
      <integer>10</integer>
      <key>public.kern2.a</key>
      <integer>-25</integer>
      <key>public.kern2.f</key>
      <integer>25</integer>
      <key>public.kern2.j</key>
      <integer>40</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>10</integer>
      <key>public.kern2.u</key>
      <integer>20</integer>
      <key>public.kern2.v.alt</key>
      <integer>10</integer>
      <key>thorn</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.g</key>
      <integer>20</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.t</key>
      <integer>5</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>15</integer>
      <key>public.kern2.j</key>
      <integer>50</integer>
      <key>public.kern2.l</key>
      <integer>-10</integer>
      <key>public.kern2.l.alt</key>
      <integer>30</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.s</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.v.alt</key>
      <integer>-20</integer>
      <key>thorn</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.z</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>10</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>25</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
      <key>public.kern2.t</key>
      <integer>5</integer>
      <key>public.kern2.u</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.l</key>
      <integer>-25</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-30</integer>
      <key>public.kern2.l</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.v.alt</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>-30</integer>
      <key>public.kern2.n</key>
      <integer>5</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>5</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-15</integer>
      <key>public.kern2.u</key>
      <integer>15</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>public.kern2.n</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
