<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>E</key>
    <string>E_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bracketangleleft</key>
    <string>bracketangleleft.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>colonmonetary</key>
    <string>colonmonetary.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
