<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>a</key>
    <string>a.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h.alt</key>
    <string>h.alt.glif</string>
    <key>n.alt</key>
    <string>n.alt.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s.alt</key>
    <string>s.alt.glif</string>
    <key>u</key>
    <string>u.glif</string>
  </dict>
</plist>
