<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1389.2</real>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>descender</key>
    <real>-450.8</real>
    <key>familyName</key>
    <string>Fraunces</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>GecJkcW0HH</string>
        <key>name</key>
        <string>top3</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>510.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>5oD8KmWaWG</string>
        <key>name</key>
        <string>bottom2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>980.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>tAGhrQOlbP</string>
        <key>name</key>
        <string>top4</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>244.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>eZAkSIGGI8</string>
        <key>name</key>
        <string>top2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>590.0</real>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Light OpMax GoofyMax</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <real>846.4000000000001</real>
  </dict>
</plist>
