<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.leftquote</key>
      <integer>-25</integer>
      <key>public.kern2.rightquote</key>
      <integer>-80</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
    </dict>
    <key>M</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>y</key>
      <integer>-50</integer>
      <key>yacute</key>
      <integer>-50</integer>
      <key>ycircumflex</key>
      <integer>-50</integer>
      <key>ydieresis</key>
      <integer>-50</integer>
      <key>ydotaccent</key>
      <integer>-50</integer>
      <key>ydotbelow</key>
      <integer>-50</integer>
      <key>ygrave</key>
      <integer>-50</integer>
      <key>yhookabove</key>
      <integer>-50</integer>
      <key>ymacron</key>
      <integer>-50</integer>
      <key>ytilde</key>
      <integer>-50</integer>
    </dict>
    <key>Mdotbelow</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>y</key>
      <integer>-50</integer>
      <key>yacute</key>
      <integer>-50</integer>
      <key>ycircumflex</key>
      <integer>-50</integer>
      <key>ydieresis</key>
      <integer>-50</integer>
      <key>ydotaccent</key>
      <integer>-50</integer>
      <key>ydotbelow</key>
      <integer>-50</integer>
      <key>ygrave</key>
      <integer>-50</integer>
      <key>yhookabove</key>
      <integer>-50</integer>
      <key>ymacron</key>
      <integer>-50</integer>
      <key>ytilde</key>
      <integer>-50</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>ampersand.alt</key>
      <integer>-45</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.rightquote</key>
      <integer>-55</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>ampersand.alt</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>seven</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>apostrophemod</key>
      <integer>-100</integer>
      <key>public.kern2.T</key>
      <integer>-75</integer>
      <key>public.kern2.V</key>
      <integer>-75</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
      <key>public.kern2.leftquote</key>
      <integer>-100</integer>
      <key>public.kern2.rightquote</key>
      <integer>-115</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.U</key>
      <integer>-46</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.leftquote</key>
      <integer>-35</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>-150</integer>
      <key>public.kern2.rightquote</key>
      <integer>-180</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.leftquote</key>
      <integer>-70</integer>
      <key>public.kern2.rightquote</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>-55</integer>
      <key>x</key>
      <integer>30</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.a</key>
      <integer>-150</integer>
      <key>public.kern2.g</key>
      <integer>-150</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-75</integer>
      <key>public.kern2.o</key>
      <integer>-150</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-150</integer>
      <key>public.kern2.z</key>
      <integer>-100</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-100</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>ampersand</key>
      <integer>-50</integer>
      <key>ampersand.alt</key>
      <integer>-50</integer>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.V</key>
      <integer>23</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.j</key>
      <integer>-100</integer>
      <key>public.kern2.n</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>-100</integer>
      <key>public.kern2.u</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-100</integer>
      <key>public.kern2.z</key>
      <integer>-100</integer>
      <key>x</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.rightquote</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>25</integer>
      <key>public.kern2.Y</key>
      <integer>5</integer>
      <key>public.kern2.leftquote</key>
      <integer>40</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>20</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.leftquote</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.leftquote</key>
      <integer>-50</integer>
      <key>public.kern2.rightquote</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.leftquote</key>
    <dict>
      <key>X</key>
      <integer>-40</integer>
      <key>p</key>
      <integer>-90</integer>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.H</key>
      <integer>-60</integer>
      <key>public.kern2.J</key>
      <integer>-120</integer>
      <key>public.kern2.U</key>
      <integer>-46</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-15</integer>
      <key>public.kern2.a</key>
      <integer>-115</integer>
      <key>public.kern2.g</key>
      <integer>-145</integer>
      <key>public.kern2.j</key>
      <integer>-85</integer>
      <key>public.kern2.n</key>
      <integer>-70</integer>
      <key>public.kern2.o</key>
      <integer>-116</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.z</key>
      <integer>-130</integer>
      <key>x</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.leftquote</key>
      <integer>-105</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.n.alt</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.leftquote</key>
      <integer>-105</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.leftquote</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>-20</integer>
      <key>public.kern2.rightquote</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.rightquote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-165</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.leftquote</key>
      <integer>-20</integer>
      <key>public.kern2.rightquote</key>
      <integer>-50</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-25</integer>
      <key>four</key>
      <integer>-125</integer>
      <key>nine</key>
      <integer>-25</integer>
      <key>zero</key>
      <integer>-50</integer>
    </dict>
    <key>uhorn</key>
    <dict>
      <key>f</key>
      <integer>75</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.rightquote</key>
      <integer>-70</integer>
    </dict>
  </dict>
</plist>
