@font-face {
    font-family: 'Chauncy_Italic';
    src:    url('Chauncy-Italic.woff') format('woff'),
            url('Chauncy-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
