@font-face {
    font-family: 'Chauncy_Regular';
    src:    url('Chauncy-Regular_web.woff') format('woff'),
            url('Chauncy-Regular_web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chauncy_Italic';
    src:    url('Chauncy-Italic_web.woff') format('woff'),
            url('Chauncy-Italic_web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
