<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1389.2</real>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>copyright</key>
    <string>Copyright 2020 The Fraunces Project Authors (github.com/undercasetype/Fraunces)</string>
    <key>descender</key>
    <real>-450.8</real>
    <key>familyName</key>
    <string>Fraunces</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>hlJWn39ajS</string>
        <key>name</key>
        <string>top3</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>510.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>HBifEgdIxm</string>
        <key>name</key>
        <string>bottom2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>980.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>L7sHY8ZOIO</string>
        <key>name</key>
        <string>top4</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>145.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>AjVtGz2Kwt</string>
        <key>name</key>
        <string>top2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>590.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>cweV8jEv3t</string>
        <key>name</key>
        <string>descender</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-466</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>bUJP21HJ1b</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>916</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>rzZFGFTIXu</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>83</integer>
        <key>y</key>
        <integer>-20</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>hTX9uskm1B</string>
        <key>name</key>
        <string>ascender</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1510</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>yy5Q1dYhHw</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-490</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ApiKn86dRN</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1420</integer>
      </dict>
    </array>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>UTF</string>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-300</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>150</integer>
    <key>styleName</key>
    <string>Black OpMax GoofyMax</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>896</integer>
  </dict>
</plist>
