<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1510</integer>
    <key>capHeight</key>
    <integer>1400</integer>
    <key>descender</key>
    <integer>-490</integer>
    <key>familyName</key>
    <string>Fraunces Italic</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>OvIPUYFT8r</string>
        <key>name</key>
        <string>ascender</string>
        <key>x</key>
        <integer>1258</integer>
        <key>y</key>
        <integer>1437</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>PWLbegsTp9</string>
        <key>name</key>
        <string>mid x-height</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>470</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>Fraunces-ItalicBlackOpMin</string>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Black OpMin GoofyMax</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <integer>940</integer>
  </dict>
</plist>
