<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1550</integer>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>descender</key>
    <integer>-450</integer>
    <key>familyName</key>
    <string>Fraunces Italic</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>i5G0WHE7VI</string>
        <key>name</key>
        <string>ascender</string>
        <key>x</key>
        <real>1268.064</real>
        <key>y</key>
        <real>1508.7240000000002</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>h6o9TfZkGj</string>
        <key>name</key>
        <string>mid x-height</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <real>492.66</real>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Black OpMin GoofyMax</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <real>1031.3600000000001</real>
  </dict>
</plist>
