<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>p</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-100</integer>
      <key>public.kern2.S</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-80</integer>
      <key>public.kern2.n</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-60</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-40</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-30</integer>
      <key>x</key>
      <integer>-30</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-100</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>seven</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.S</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-150</integer>
      <key>public.kern2.leftquote</key>
      <integer>-150</integer>
      <key>public.kern2.rightquote</key>
      <integer>-150</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>p</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-150</integer>
      <key>public.kern2.Y</key>
      <integer>-150</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.leftquote</key>
      <integer>-150</integer>
      <key>public.kern2.rightquote</key>
      <integer>-150</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.g</key>
      <integer>-50</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.l</key>
      <integer>-20</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>10</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-80</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>p</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>p</key>
      <integer>-20</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
      <key>public.kern2.s</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.z</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>p</key>
      <integer>-75</integer>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.S</key>
      <integer>-50</integer>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-75</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
      <key>public.kern2.z</key>
      <integer>-75</integer>
      <key>x</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-80</integer>
      <key>public.kern2.S</key>
      <integer>-80</integer>
      <key>public.kern2.Z</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-125</integer>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.g</key>
      <integer>-125</integer>
      <key>public.kern2.j</key>
      <integer>-50</integer>
      <key>public.kern2.n</key>
      <integer>-75</integer>
      <key>public.kern2.o</key>
      <integer>-120</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-125</integer>
      <key>public.kern2.t</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-75</integer>
      <key>public.kern2.z</key>
      <integer>-75</integer>
      <key>x</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-125</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.leftquote</key>
      <integer>50</integer>
      <key>public.kern2.rightquote</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>X</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-5</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.leftquote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.J</key>
      <integer>-150</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
      <key>public.kern2.leftquote</key>
      <integer>-50</integer>
      <key>public.kern2.rightquote</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.n.alt</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-100</integer>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.U</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-150</integer>
      <key>public.kern2.Y</key>
      <integer>-150</integer>
      <key>public.kern2.leftquote</key>
      <integer>-150</integer>
      <key>public.kern2.rightquote</key>
      <integer>-150</integer>
      <key>public.kern2.v</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-65</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.rightquote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-75</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-75</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-50</integer>
      <key>four</key>
      <integer>-125</integer>
      <key>six</key>
      <integer>-50</integer>
      <key>zero</key>
      <integer>-50</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
    </dict>
  </dict>
</plist>
