<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<real>755.0</real>
	<key>capHeight</key>
	<real>700.0</real>
	<key>descender</key>
	<real>-245.0</real>
	<key>familyName</key>
	<string>Chauncy</string>
	<key>guidelines</key>
	<array>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>yyoEiTfVbP</string>
			<key>x</key>
			<integer>549</integer>
			<key>y</key>
			<integer>480</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>j6VTdcgzN7</string>
			<key>x</key>
			<integer>359</integer>
			<key>y</key>
			<integer>-15</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>xJoeB7YZT0</string>
			<key>name</key>
			<string>overshoot</string>
			<key>x</key>
			<integer>488</integer>
			<key>y</key>
			<integer>715</integer>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>identifier</key>
			<string>p23oSKUL9m</string>
			<key>name</key>
			<string>numerals</string>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>638</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>cJGWne72uT</string>
			<key>name</key>
			<string>num_overshoot</string>
			<key>x</key>
			<integer>416</integer>
			<key>y</key>
			<integer>650</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>FQ112KpiGq</string>
			<key>name</key>
			<string>top</string>
			<key>x</key>
			<integer>292</integer>
			<key>y</key>
			<integer>675</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>FKpywbNsAH</string>
			<key>name</key>
			<string>bottom</string>
			<key>x</key>
			<integer>471</integer>
			<key>y</key>
			<integer>608</integer>
		</dict>
		<dict>
			<key>angle</key>
			<integer>0</integer>
			<key>identifier</key>
			<string>YqhlAZkVMg</string>
			<key>name</key>
			<string>ordinal</string>
			<key>x</key>
			<integer>273</integer>
			<key>y</key>
			<integer>345</integer>
		</dict>
	</array>
	<key>italicAngle</key>
	<real>-10.0</real>
	<key>postscriptBlueValues</key>
	<array/>
	<key>postscriptFamilyBlues</key>
	<array/>
	<key>postscriptFamilyOtherBlues</key>
	<array/>
	<key>postscriptOtherBlues</key>
	<array/>
	<key>postscriptStemSnapH</key>
	<array/>
	<key>postscriptStemSnapV</key>
	<array/>
	<key>styleName</key>
	<string>Italic</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<real>465.0</real>
</dict>
</plist>
