<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1540.2</real>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>descender</key>
    <real>-499.8</real>
    <key>familyName</key>
    <string>Fraunces Beta</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>71TfWZw2vy</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <real>596.37</real>
        <key>y</key>
        <real>-15.15</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>dJKEuk3gYb</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <real>-18.231000000000048</real>
        <key>y</key>
        <real>722.15</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.1818907524971836</real>
        <key>identifier</key>
        <string>AuEFcX4Om5</string>
        <key>name</key>
        <string>numerals</string>
        <key>x</key>
        <real>182.31</real>
        <key>y</key>
        <real>671.65</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>180.0</real>
        <key>identifier</key>
        <string>jzvIVFgbrd</string>
        <key>name</key>
        <string>num_overshoot</string>
        <key>x</key>
        <real>646.1190000000001</real>
        <key>y</key>
        <real>655.49</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>mpIYPd50QP</string>
        <key>name</key>
        <string>ordinal</string>
        <key>x</key>
        <real>336.81</real>
        <key>y</key>
        <real>308.05</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>IyWGrTSDg0</string>
        <key>name</key>
        <string>markmax</string>
        <key>x</key>
        <real>253.38</real>
        <key>y</key>
        <real>909.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Z9L6MDXQEQ</string>
        <key>name</key>
        <string>top2</string>
        <key>x</key>
        <real>1215.297</real>
        <key>y</key>
        <real>223.21</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>STv7iWXNz0</string>
        <key>name</key>
        <string>top1</string>
        <key>x</key>
        <real>1066.2045</real>
        <key>y</key>
        <real>463.59000000000003</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>yRZ2yGU3Ea</string>
        <key>name</key>
        <string>top3</string>
        <key>x</key>
        <real>1295.9460000000001</real>
        <key>y</key>
        <real>446.42</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>mvZ5OAS42D</string>
        <key>name</key>
        <string>top4</string>
        <key>x</key>
        <real>1073.1570000000002</real>
        <key>y</key>
        <real>246.44</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>eOyGozVVVf</string>
        <key>name</key>
        <string>bottom1</string>
        <key>x</key>
        <real>1098.2375</real>
        <key>y</key>
        <real>433.29</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>eh9CARvRRz</string>
        <key>name</key>
        <string>bottom3</string>
        <key>x</key>
        <real>1180.277</real>
        <key>y</key>
        <real>396.93</real>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <real>969.0</real>
  </dict>
</plist>
