<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>Nj</key>
    <string>N_j.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>commercialminussign</key>
    <string>commercialminussign.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>fhook</key>
    <string>fhook.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>indianrupee</key>
    <string>indianrupee.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>turkishlira</key>
    <string>turkishlira.glif</string>
    <key>two.alt</key>
    <string>two.alt.glif</string>
    <key>won</key>
    <string>won.glif</string>
  </dict>
</plist>
