<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>fhook</key>
    <string>fhook.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>indianrupee</key>
    <string>indianrupee.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>turkishlira</key>
    <string>turkishlira.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
