<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1510</integer>
    <key>capHeight</key>
    <integer>1400</integer>
    <key>descender</key>
    <integer>-490</integer>
    <key>familyName</key>
    <string>Fraunces Italic Beta</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>yyoEiTfVbP</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>883</integer>
        <key>y</key>
        <integer>490</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>xJoeB7YZT0</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>431</integer>
        <key>y</key>
        <integer>716</integer>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.0</real>
        <key>identifier</key>
        <string>p23oSKUL9m</string>
        <key>name</key>
        <string>numerals</string>
        <key>x</key>
        <integer>572</integer>
        <key>y</key>
        <integer>645</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>cJGWne72uT</string>
        <key>name</key>
        <string>num_overshoot</string>
        <key>x</key>
        <integer>416</integer>
        <key>y</key>
        <integer>660</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>YqhlAZkVMg</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>100</integer>
        <key>y</key>
        <integer>-15</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>t8ESiOmsvi</string>
        <key>x</key>
        <integer>530</integer>
        <key>y</key>
        <integer>-230</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>cUcQDh6VgP</string>
        <key>name</key>
        <string>ordinals</string>
        <key>x</key>
        <integer>401</integer>
        <key>y</key>
        <integer>290</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>-15.0</real>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Bold OpMin</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <integer>950</integer>
  </dict>
</plist>
