<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1BC67739-1D6A-4415-9624-265C51B97FB1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexacute</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexgrave</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexhookabove</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflextilde</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.DZcaron</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexacute</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexgrave</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexhookabove</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflextilde</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abreveacute</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abrevedotbelow</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abrevegrave</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abrevehookabove</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abrevetilde</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acircumflexacute</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acircumflexgrave</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acircumflexhookabove</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acircumflextilde</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.atilde</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ddotbelow</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexacute</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexdotbelow</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexgrave</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexhookabove</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflextilde</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ocircumflexacute</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ocircumflexdotbelow</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ocircumflexgrave</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ocircumflexhookabove</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ocircumflextilde</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.odieresismacron</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omacronacute</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.omacrongrave</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.otildeacute</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.otildedieresis</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.otildemacron</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v.alt</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.alt</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>16</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
