<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1510</integer>
    <key>capHeight</key>
    <integer>1400</integer>
    <key>copyright</key>
    <string>Copyright 2020 The Fraunces Project Authors (github.com/undercasetype/Fraunces)</string>
    <key>descender</key>
    <integer>-490</integer>
    <key>familyName</key>
    <string>Fraunces</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>i58OCHmp1k</string>
        <key>name</key>
        <string>bottom2</string>
        <key>x</key>
        <integer>32</integer>
        <key>y</key>
        <integer>873</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>pcWQr9goJS</string>
        <key>name</key>
        <string>top2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>700</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>vd5eyjxSMa</string>
        <key>name</key>
        <string>top3</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>370</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Zx0ZulfC9l</string>
        <key>name</key>
        <string>top4</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>200</integer>
      </dict>
    </array>
    <key>openTypeHheaAscender</key>
    <integer>1956</integer>
    <key>openTypeHheaDescender</key>
    <integer>-510</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1956</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-510</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>UCT</string>
    <key>openTypeOS2WinAscent</key>
    <integer>2340</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>609</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-300</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>144pt Thin</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>850</integer>
  </dict>
</plist>
