<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0EE53CEC-E362-4BDD-9B5D-8E543971B2E6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreveacute</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevegrave</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevehookabove</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevetilde</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflex</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexacute</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexdotbelow</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexgrave</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexhookabove</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ainvertedbreve</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecedillabreve</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflex</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflexacute</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflexdotbelow</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflexgrave</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflexhookabove</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ecircumflextilde</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Idieresisacute</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexacute</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexdotbelow</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexgrave</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexhookabove</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflextilde</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omacron</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Omacronacute</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Utildeacute</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand.alt</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b.alt</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colonmonetary</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.currency</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d.alt</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dagger</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.daggerdbl</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexacute</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexgrave</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexhookabove</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflextilde</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fhook</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guarani</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k.alt</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kra</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l.alt</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lira</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.manat</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tbar</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w.alt</key>
      <integer>12</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.yen</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>14</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowFill</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
