<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>169E836A-F007-4CEE-8245-7D813FFB45B5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreve</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abreveacute</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevedotbelow</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevegrave</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevehookabove</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Abrevetilde</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexacute</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexdotbelow</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexgrave</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflexhookabove</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflextilde</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aringacute</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexacute</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexgrave</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflexhookabove</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ocircumflextilde</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Scarondotaccent</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecaron</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexacute</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexdotbelow</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexgrave</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflexhookabove</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ecircumflextilde</key>
      <integer>13</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lira</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.alt</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.alt</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ydotbelow</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>18</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
