<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>acute.cap</key>
    <string>acute.cap.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevetilde</key>
    <string>brevetilde.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexhook.cap</key>
    <string>circumflexhook.cap.glif</string>
    <key>circumflextilde</key>
    <string>circumflextilde.glif</string>
    <key>circumflextilde.cap</key>
    <string>circumflextilde.cap.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>fhook</key>
    <string>fhook.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>hookcmb</key>
    <string>hookcmb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>indianrupee</key>
    <string>indianrupee.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>turkishlira</key>
    <string>turkishlira.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
