<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>indianrupee</key>
    <string>indianrupee.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>turkishlira</key>
    <string>turkishlira.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
