<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>C</key>
    <string>C_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colonmonetary</key>
    <string>colonmonetary.glif</string>
    <key>commercialminussign</key>
    <string>commercialminussign.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>fhook</key>
    <string>fhook.glif</string>
    <key>five.alt</key>
    <string>five.alt.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>indianrupee</key>
    <string>indianrupee.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>three.alt</key>
    <string>three.alt.glif</string>
    <key>turkishlira</key>
    <string>turkishlira.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.alt</key>
    <string>two.alt.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
