<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dzcaron</key>
    <string>dzcaron.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
  </dict>
</plist>
