<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>minute</key>
    <string>minute.glif</string>
    <key>primedblmod</key>
    <string>primedblmod.glif</string>
    <key>primemod</key>
    <string>primemod.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>second</key>
    <string>second.glif</string>
  </dict>
</plist>
