<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>foreground</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>LightOpMinGoofyMax</string>
      <string>glyphs.L_ightO_pM_inG_oofyM_ax</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>LightOpMinGoofyMin-Roman</string>
      <string>glyphs.L_ightO_pM_inG_oofyM_in-R_oman</string>
    </array>
    <array>
      <string>LightOpMaxGoofyMin</string>
      <string>glyphs.L_ightO_pM_axG_oofyM_in</string>
    </array>
  </array>
</plist>
