<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>X</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.T</key>
      <real>-18.666666666666664</real>
      <key>public.kern2.V</key>
      <real>-27.46666666666667</real>
      <key>public.kern2.Y</key>
      <real>-32.8</real>
      <key>public.kern2.leftquote</key>
      <real>-11.666666666666666</real>
      <key>public.kern2.rightquote</key>
      <real>-37.333333333333336</real>
    </dict>
    <key>F</key>
    <dict>
      <key>X</key>
      <real>-8.533333333333333</real>
      <key>ampersand</key>
      <real>-37.33333333333333</real>
      <key>ampersand.alt</key>
      <real>-41.06666666666666</real>
      <key>p</key>
      <real>-42.66666666666667</real>
      <key>public.kern2.A</key>
      <real>-77.13333333333334</real>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.S</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.V</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.Y</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.Z</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.a</key>
      <real>-71.33333333333334</real>
      <key>public.kern2.f</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-65.46666666666667</real>
      <key>public.kern2.n</key>
      <real>-17.066666666666666</real>
      <key>public.kern2.o</key>
      <real>-54.266666666666666</real>
      <key>public.kern2.period</key>
      <real>-74.66666666666667</real>
      <key>public.kern2.s</key>
      <real>-45.333333333333336</real>
      <key>public.kern2.t</key>
      <real>-31.46666666666667</real>
      <key>public.kern2.u</key>
      <real>-40.4</real>
      <key>public.kern2.v</key>
      <real>-12.8</real>
      <key>public.kern2.z</key>
      <real>-12.8</real>
      <key>x</key>
      <real>-12.8</real>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <real>-30.66666666666667</real>
      <key>ampersand.alt</key>
      <integer>-21</integer>
      <key>public.kern2.A</key>
      <real>-68.13333333333334</real>
      <key>public.kern2.J</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.V</key>
      <real>-15.466666666666667</real>
      <key>public.kern2.Y</key>
      <integer>-24</integer>
      <key>public.kern2.a</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-23.46666666666667</real>
      <key>public.kern2.o</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>idblgrave</key>
      <real>-54.66666666666667</real>
      <key>idieresis</key>
      <real>-54.66666666666667</real>
      <key>idieresisacute</key>
      <real>-54.66666666666667</real>
      <key>itilde</key>
      <real>-54.66666666666667</real>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>public.kern2.period</key>
      <real>-42.66666666666667</real>
    </dict>
    <key>X</key>
    <dict>
      <key>ampersand</key>
      <real>-39.199999999999996</real>
      <key>ampersand.alt</key>
      <real>-37.33333333333333</real>
      <key>public.kern2.O</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.leftquote</key>
      <real>-1.8666666666666667</real>
      <key>public.kern2.o</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.rightquote</key>
      <real>-25.666666666666668</real>
      <key>public.kern2.t</key>
      <real>-2.666666666666666</real>
      <key>public.kern2.u</key>
      <real>-11.200000000000001</real>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>ampersand</key>
    <dict>
      <key>X</key>
      <real>-38.82666666666667</real>
      <key>public.kern2.A</key>
      <integer>-28</integer>
      <key>public.kern2.J</key>
      <real>-24.266666666666666</real>
      <key>public.kern2.S</key>
      <real>-16.05333333333333</real>
      <key>public.kern2.T</key>
      <real>-45.17333333333334</real>
      <key>public.kern2.U</key>
      <real>-11.946666666666667</real>
      <key>public.kern2.V</key>
      <real>-52.266666666666666</real>
      <key>public.kern2.Y</key>
      <real>-64.39999999999999</real>
      <key>public.kern2.Z</key>
      <real>-18.666666666666664</real>
    </dict>
    <key>ampersand.alt</key>
    <dict>
      <key>X</key>
      <real>-29.120000000000005</real>
      <key>public.kern2.J</key>
      <real>-14.933333333333334</real>
      <key>public.kern2.S</key>
      <real>-11.2</real>
      <key>public.kern2.T</key>
      <real>-63.46666666666667</real>
      <key>public.kern2.U</key>
      <real>-11.2</real>
      <key>public.kern2.V</key>
      <real>-31.733333333333334</real>
      <key>public.kern2.Y</key>
      <real>-73.73333333333335</real>
      <key>public.kern2.Z</key>
      <real>-11.2</real>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>i</key>
      <real>18.66666666666667</real>
    </dict>
    <key>four</key>
    <dict>
      <key>seven</key>
      <real>-18.666666666666664</real>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>i</key>
      <real>18.66666666666667</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>ampersand</key>
      <real>-22.4</real>
      <key>ampersand.alt</key>
      <real>-16.799999999999997</real>
      <key>apostrophemod</key>
      <real>-46.666666666666664</real>
      <key>public.kern2.O</key>
      <real>-12.8</real>
      <key>public.kern2.S</key>
      <real>-12.8</real>
      <key>public.kern2.T</key>
      <integer>-95</integer>
      <key>public.kern2.U</key>
      <real>-12.8</real>
      <key>public.kern2.V</key>
      <real>-85.66666666666667</real>
      <key>public.kern2.Y</key>
      <real>-113.66666666666666</real>
      <key>public.kern2.g</key>
      <real>-5.333333333333332</real>
      <key>public.kern2.leftquote</key>
      <real>-121.33333333333334</real>
      <key>public.kern2.o</key>
      <real>-2.133333333333333</real>
      <key>public.kern2.rightquote</key>
      <real>-133.66666666666666</real>
      <key>public.kern2.s</key>
      <real>-2.133333333333333</real>
      <key>public.kern2.v</key>
      <real>-55.333333333333336</real>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>ampersand</key>
      <integer>-28</integer>
      <key>ampersand.alt</key>
      <real>-11.2</real>
      <key>public.kern2.A</key>
      <integer>-7</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>ampersand</key>
      <real>-29.866666666666667</real>
      <key>ampersand.alt</key>
      <real>-16.799999999999997</real>
      <key>public.kern2.V</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.Y</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.rightquote</key>
      <real>-9.333333333333332</real>
      <key>public.kern2.v</key>
      <real>-7.466666666666667</real>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.leftquote</key>
      <real>-3.7333333333333334</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>ampersand</key>
      <integer>-28</integer>
      <key>ampersand.alt</key>
      <integer>-28</integer>
      <key>p</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.O</key>
      <integer>-14</integer>
      <key>public.kern2.S</key>
      <real>-24.266666666666666</real>
      <key>public.kern2.T</key>
      <real>-24.46666666666667</real>
      <key>public.kern2.U</key>
      <real>-21.46666666666667</real>
      <key>public.kern2.V</key>
      <real>-10.826666666666668</real>
      <key>public.kern2.Y</key>
      <real>-18.666666666666668</real>
      <key>public.kern2.leftquote</key>
      <real>-16.333333333333332</real>
      <key>public.kern2.o</key>
      <real>-12.8</real>
      <key>public.kern2.rightquote</key>
      <real>-26.133333333333333</real>
      <key>public.kern2.u</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.v</key>
      <real>-41.46666666666667</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>ampersand</key>
      <real>-20.53333333333333</real>
      <key>ampersand.alt</key>
      <real>-13.066666666666666</real>
      <key>public.kern2.A</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.T</key>
      <real>-92.66666666666667</real>
      <key>public.kern2.V</key>
      <real>-114.00000000000001</real>
      <key>public.kern2.Y</key>
      <real>-114.00000000000001</real>
      <key>public.kern2.f</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.leftquote</key>
      <integer>-150</integer>
      <key>public.kern2.period</key>
      <real>-7.466666666666667</real>
      <key>public.kern2.rightquote</key>
      <integer>-164</integer>
      <key>public.kern2.v</key>
      <real>-33.86666666666667</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>X</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.A</key>
      <real>-12.8</real>
      <key>public.kern2.J</key>
      <real>-12.8</real>
      <key>public.kern2.Y</key>
      <real>-34.13333333333333</real>
      <key>public.kern2.a</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.f</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.g</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.j</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.l</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.leftquote</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.n</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.rightquote</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>ampersand</key>
      <real>-13.066666666666666</real>
      <key>ampersand.alt</key>
      <real>-13.066666666666666</real>
      <key>public.kern2.A</key>
      <real>4.266666666666667</real>
      <key>public.kern2.V</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.Y</key>
      <real>-58.53333333333333</real>
      <key>public.kern2.leftquote</key>
      <real>-25.666666666666668</real>
      <key>public.kern2.o</key>
      <real>-1.0666666666666664</real>
      <key>public.kern2.rightquote</key>
      <real>-33.599999999999994</real>
      <key>x</key>
      <integer>14</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>ampersand</key>
      <real>-26.133333333333333</real>
      <key>ampersand.alt</key>
      <real>-18.666666666666664</real>
      <key>public.kern2.A</key>
      <real>-22.133333333333333</real>
      <key>public.kern2.T</key>
      <real>-12.8</real>
      <key>public.kern2.V</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-34.13333333333333</real>
      <key>public.kern2.f</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-28.8</real>
      <key>public.kern2.leftquote</key>
      <real>-14.933333333333334</real>
      <key>public.kern2.rightquote</key>
      <real>-13.066666666666666</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>ampersand</key>
      <real>-33.599999999999994</real>
      <key>ampersand.alt</key>
      <real>-33.599999999999994</real>
      <key>p</key>
      <real>-47.33333333333333</real>
      <key>public.kern2.A</key>
      <integer>-95</integer>
      <key>public.kern2.J</key>
      <real>-42.13333333333333</real>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.j</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.n</key>
      <real>-59.33333333333333</real>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.s</key>
      <integer>-86</integer>
      <key>public.kern2.t</key>
      <integer>-40</integer>
      <key>public.kern2.u</key>
      <real>-56.666666666666664</real>
      <key>public.kern2.v</key>
      <integer>-28</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>x</key>
      <real>-44.66666666666667</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>ampersand</key>
      <real>-22.4</real>
      <key>ampersand.alt</key>
      <real>-24.266666666666666</real>
      <key>p</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.A</key>
      <real>-12.8</real>
      <key>public.kern2.J</key>
      <real>-12.8</real>
      <key>public.kern2.a</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.f</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-30.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <real>-13.066666666666666</real>
      <key>public.kern2.period</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.rightquote</key>
      <real>-18.666666666666664</real>
      <key>public.kern2.s</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.v</key>
      <real>-8.533333333333333</real>
      <key>public.kern2.z</key>
      <real>-8.533333333333333</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>ampersand</key>
      <real>-52.266666666666666</real>
      <key>ampersand.alt</key>
      <real>-52.266666666666666</real>
      <key>p</key>
      <integer>-68</integer>
      <key>public.kern2.A</key>
      <integer>-95</integer>
      <key>public.kern2.J</key>
      <real>-51.46666666666666</real>
      <key>public.kern2.S</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.Z</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.a</key>
      <real>-107.33333333333333</real>
      <key>public.kern2.f</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-88.13333333333333</real>
      <key>public.kern2.j</key>
      <real>-44.66666666666667</real>
      <key>public.kern2.n</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <real>-107.33333333333333</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
      <key>public.kern2.rightquote</key>
      <real>-7.466666666666667</real>
      <key>public.kern2.s</key>
      <real>-83.46666666666667</real>
      <key>public.kern2.t</key>
      <real>-52.66666666666667</real>
      <key>public.kern2.u</key>
      <real>-66.66666666666667</real>
      <key>public.kern2.v</key>
      <real>-52.66666666666667</real>
      <key>public.kern2.z</key>
      <real>-77.46666666666667</real>
      <key>x</key>
      <real>-62.00000000000001</real>
      <key>y</key>
      <real>-62.00000000000001</real>
      <key>yacute</key>
      <real>-62.00000000000001</real>
      <key>ycircumflex</key>
      <real>-62.00000000000001</real>
      <key>ydieresis</key>
      <real>-62.00000000000001</real>
      <key>ydotaccent</key>
      <real>-62.00000000000001</real>
      <key>ydotbelow</key>
      <real>-62.00000000000001</real>
      <key>ygrave</key>
      <real>-62.00000000000001</real>
      <key>yhookabove</key>
      <real>-62.00000000000001</real>
      <key>ymacron</key>
      <real>-62.00000000000001</real>
      <key>ytilde</key>
      <real>-62.00000000000001</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>ampersand</key>
      <real>-53.199999999999996</real>
      <key>ampersand.alt</key>
      <real>-56.93333333333332</real>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <real>-113.66666666666666</real>
      <key>public.kern2.J</key>
      <real>-42.13333333333333</real>
      <key>public.kern2.O</key>
      <real>-34.13333333333333</real>
      <key>public.kern2.S</key>
      <real>-34.13333333333333</real>
      <key>public.kern2.V</key>
      <real>10.733333333333334</real>
      <key>public.kern2.Z</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.a</key>
      <real>-115.33333333333333</real>
      <key>public.kern2.f</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-115.13333333333333</real>
      <key>public.kern2.j</key>
      <integer>-68</integer>
      <key>public.kern2.n</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.o</key>
      <real>-115.33333333333334</real>
      <key>public.kern2.period</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.rightquote</key>
      <real>-7.466666666666667</real>
      <key>public.kern2.s</key>
      <real>-115.13333333333333</real>
      <key>public.kern2.t</key>
      <integer>-76</integer>
      <key>public.kern2.u</key>
      <integer>-76</integer>
      <key>public.kern2.v</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.z</key>
      <real>-89.33333333333333</real>
      <key>x</key>
      <real>-86.66666666666667</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>ampersand</key>
      <real>-20.53333333333333</real>
      <key>ampersand.alt</key>
      <real>-15.306666666666668</real>
      <key>public.kern2.v</key>
      <real>-13.866666666666667</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-71.33333333333334</real>
      <key>public.kern2.V</key>
      <integer>-74</integer>
      <key>public.kern2.Y</key>
      <integer>-108</integer>
      <key>public.kern2.leftquote</key>
      <real>-31.733333333333334</real>
      <key>public.kern2.rightquote</key>
      <real>-29.866666666666667</real>
      <key>public.kern2.v</key>
      <real>-21.333333333333336</real>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <real>-29.333333333333332</real>
      <key>public.kern2.Y</key>
      <real>-78.66666666666666</real>
      <key>public.kern2.rightquote</key>
      <integer>-14</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.V</key>
      <real>11.666666666666666</real>
      <key>public.kern2.Y</key>
      <real>2.3333333333333335</real>
      <key>public.kern2.leftquote</key>
      <integer>40</integer>
      <key>public.kern2.rightquote</key>
      <real>21.333333333333336</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>X</key>
      <real>-27.2</real>
      <key>public.kern2.T</key>
      <real>-11.466666666666667</real>
      <key>public.kern2.V</key>
      <real>-18.666666666666664</real>
      <key>public.kern2.Y</key>
      <real>-61.333333333333336</real>
      <key>public.kern2.Z</key>
      <real>2.133333333333333</real>
      <key>public.kern2.j</key>
      <real>10.826666666666668</real>
      <key>public.kern2.leftquote</key>
      <real>10.666666666666664</real>
      <key>public.kern2.period</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.rightquote</key>
      <real>-14.933333333333334</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-44.66666666666667</real>
      <key>public.kern2.Y</key>
      <real>-48.8</real>
      <key>public.kern2.leftquote</key>
      <real>-18.666666666666668</real>
      <key>public.kern2.rightquote</key>
      <real>-14.933333333333334</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.V</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.O</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.T</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.V</key>
      <real>-42.66666666666667</real>
      <key>public.kern2.Y</key>
      <real>-89.33333333333334</real>
      <key>public.kern2.Z</key>
      <real>2.133333333333333</real>
      <key>public.kern2.leftquote</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.rightquote</key>
      <real>-18.666666666666668</real>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.l</key>
      <real>21.333333333333336</real>
      <key>public.kern2.rightquote</key>
      <real>-11.2</real>
    </dict>
    <key>public.kern1.leftquote</key>
    <dict>
      <key>X</key>
      <real>-18.666666666666668</real>
      <key>p</key>
      <integer>-42</integer>
      <key>public.kern2.A</key>
      <real>-163.81333333333333</real>
      <key>public.kern2.H</key>
      <integer>-28</integer>
      <key>public.kern2.J</key>
      <integer>-136</integer>
      <key>public.kern2.O</key>
      <real>-42.93333333333333</real>
      <key>public.kern2.S</key>
      <real>-33.599999999999994</real>
      <key>public.kern2.U</key>
      <real>-21.46666666666667</real>
      <key>public.kern2.V</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.Y</key>
      <integer>-7</integer>
      <key>public.kern2.Z</key>
      <real>-33.599999999999994</real>
      <key>public.kern2.a</key>
      <real>-53.666666666666664</real>
      <key>public.kern2.g</key>
      <real>-67.66666666666667</real>
      <key>public.kern2.j</key>
      <real>-39.666666666666664</real>
      <key>public.kern2.n</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.o</key>
      <real>-54.13333333333333</real>
      <key>public.kern2.period</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.s</key>
      <real>-46.666666666666664</real>
      <key>public.kern2.t</key>
      <real>-18.666666666666668</real>
      <key>public.kern2.u</key>
      <real>-37.333333333333336</real>
      <key>public.kern2.v</key>
      <real>-32.666666666666664</real>
      <key>public.kern2.z</key>
      <real>-60.66666666666667</real>
      <key>x</key>
      <real>-46.666666666666664</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <real>-65.46666666666667</real>
      <key>public.kern2.Y</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <real>-70.33333333333334</real>
      <key>public.kern2.rightquote</key>
      <real>-64.26666666666667</real>
      <key>public.kern2.v</key>
      <real>-5.6000000000000005</real>
    </dict>
    <key>public.kern1.n.alt</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <real>-65.46666666666667</real>
      <key>public.kern2.Y</key>
      <real>-86.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <integer>-49</integer>
      <key>public.kern2.rightquote</key>
      <real>-35.46666666666666</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.V</key>
      <real>-78.80000000000001</real>
      <key>public.kern2.Y</key>
      <real>-110.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <real>-41.99999999999999</real>
      <key>public.kern2.rightquote</key>
      <real>-48.53333333333333</real>
      <key>public.kern2.v</key>
      <real>-21.333333333333336</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.U</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.V</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.Y</key>
      <real>-103.33333333333334</real>
      <key>public.kern2.leftquote</key>
      <real>-140.66666666666666</real>
      <key>public.kern2.rightquote</key>
      <integer>-80</integer>
      <key>public.kern2.v</key>
      <real>-50.66666666666667</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <real>-28.666666666666664</real>
      <key>public.kern2.J</key>
      <integer>-40</integer>
      <key>public.kern2.T</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.V</key>
      <real>-35.733333333333334</real>
      <key>public.kern2.Y</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.period</key>
      <real>-29.333333333333332</real>
      <key>public.kern2.rightquote</key>
      <real>-23.333333333333332</real>
    </dict>
    <key>public.kern1.rightquote</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-151.66666666666669</real>
      <key>public.kern2.period</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-23.333333333333332</real>
      <key>public.kern2.V</key>
      <real>-55.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <integer>-14</integer>
      <key>public.kern2.period</key>
      <real>-14.933333333333334</real>
      <key>public.kern2.rightquote</key>
      <real>-31.733333333333334</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-18.666666666666664</real>
      <key>public.kern2.V</key>
      <integer>-48</integer>
      <key>public.kern2.Y</key>
      <real>-52.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <real>-4.666666666666667</real>
      <key>public.kern2.rightquote</key>
      <real>-11.2</real>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>X</key>
      <real>-26.666666666666668</real>
      <key>public.kern2.A</key>
      <real>-55.333333333333336</real>
      <key>public.kern2.J</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.T</key>
      <real>-18.666666666666664</real>
      <key>public.kern2.V</key>
      <real>-29.333333333333332</real>
      <key>public.kern2.Y</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.a</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-7.466666666666667</real>
      <key>public.kern2.o</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.period</key>
      <real>-50.66666666666667</real>
      <key>public.kern2.rightquote</key>
      <real>-11.2</real>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-21.333333333333336</real>
      <key>public.kern2.V</key>
      <real>-58.666666666666664</real>
      <key>public.kern2.Y</key>
      <real>-58.666666666666664</real>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-5.333333333333336</real>
      <key>public.kern2.V</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.Y</key>
      <real>-76.66666666666667</real>
      <key>public.kern2.leftquote</key>
      <real>-9.333333333333334</real>
      <key>public.kern2.rightquote</key>
      <real>-23.333333333333332</real>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-24</integer>
      <key>four</key>
      <real>-125.33333333333334</real>
      <key>six</key>
      <real>-23.666666666666664</real>
      <key>two</key>
      <real>-2.666666666666666</real>
      <key>zero</key>
      <real>-26.333333333333336</real>
    </dict>
    <key>tcaron</key>
    <dict>
      <key>i</key>
      <real>18.66666666666667</real>
      <key>j</key>
      <real>18.66666666666667</real>
    </dict>
    <key>x</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-44.66666666666667</real>
      <key>public.kern2.V</key>
      <real>-52.66666666666667</real>
      <key>public.kern2.Y</key>
      <real>-63.333333333333336</real>
      <key>public.kern2.g</key>
      <real>-7.466666666666667</real>
      <key>public.kern2.rightquote</key>
      <real>-32.666666666666664</real>
    </dict>
  </dict>
</plist>
