<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8A3371D9-EAA8-4A1E-8DD7-3EEA806684A3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Lslash</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>24</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f_f</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fi</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lslash</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt</key>
      <integer>24</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>21</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowFill</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
