<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1564.3600000000001</real>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>descender</key>
    <real>-507.64000000000004</real>
    <key>familyName</key>
    <string>Fraunces Goofy</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>bhaVF5VUk2</string>
        <key>name</key>
        <string>ascender</string>
        <key>x</key>
        <real>81.44</real>
        <key>y</key>
        <real>1396.696</real>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Light OpMin</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <real>916.86</real>
  </dict>
</plist>
