<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-46</integer>
      <key>public.kern2.Y</key>
      <integer>-26</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>X</key>
      <integer>-4</integer>
      <key>p</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-76</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.S</key>
      <integer>-4</integer>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-4</integer>
      <key>public.kern2.Z</key>
      <integer>-4</integer>
      <key>public.kern2.a</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-76</integer>
      <key>public.kern2.n</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>-52</integer>
      <key>public.kern2.period</key>
      <integer>-110</integer>
      <key>public.kern2.s</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-6</integer>
      <key>public.kern2.u</key>
      <integer>-8</integer>
      <key>public.kern2.v</key>
      <integer>-6</integer>
      <key>public.kern2.z</key>
      <integer>-6</integer>
      <key>x</key>
      <integer>-6</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>X</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-96</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-26</integer>
      <key>public.kern2.Y</key>
      <integer>-30</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-26</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-30</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>idblgrave</key>
      <integer>-50</integer>
      <key>idieresis</key>
      <integer>-50</integer>
      <key>idieresisacute</key>
      <integer>-50</integer>
      <key>itilde</key>
      <integer>-50</integer>
    </dict>
    <key>Thorn</key>
    <dict>
      <key>public.kern2.period</key>
      <integer>-20</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-4</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.u</key>
      <integer>-24</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>dcaron</key>
    <dict>
      <key>i</key>
      <integer>0</integer>
    </dict>
    <key>four</key>
    <dict>
      <key>seven</key>
      <integer>-65</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>i</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-6</integer>
      <key>public.kern2.S</key>
      <integer>-6</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.U</key>
      <integer>-6</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.g</key>
      <integer>-40</integer>
      <key>public.kern2.leftquote</key>
      <integer>-110</integer>
      <key>public.kern2.o</key>
      <integer>-16</integer>
      <key>public.kern2.rightquote</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.E</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-4</integer>
      <key>public.kern2.Y</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>p</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>-6</integer>
      <key>public.kern2.o</key>
      <integer>-6</integer>
      <key>public.kern2.v</key>
      <integer>-46</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <integer>-90</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
      <key>public.kern2.f</key>
      <integer>-4</integer>
      <key>public.kern2.leftquote</key>
      <integer>-150</integer>
      <key>public.kern2.rightquote</key>
      <integer>-150</integer>
      <key>public.kern2.v</key>
      <integer>-34</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>X</key>
      <integer>-10</integer>
      <key>public.kern2.A</key>
      <integer>-6</integer>
      <key>public.kern2.J</key>
      <integer>-6</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.a</key>
      <integer>-4</integer>
      <key>public.kern2.f</key>
      <integer>-4</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-4</integer>
      <key>public.kern2.l</key>
      <integer>-4</integer>
      <key>public.kern2.n</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>2</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-54</integer>
      <key>public.kern2.o</key>
      <integer>-8</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-6</integer>
      <key>public.kern2.T</key>
      <integer>-6</integer>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-16</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>p</key>
      <integer>-30</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-76</integer>
      <key>public.kern2.a</key>
      <integer>-100</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-100</integer>
      <key>public.kern2.n</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-100</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-30</integer>
      <key>public.kern2.z</key>
      <integer>-50</integer>
      <key>x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>p</key>
      <integer>-4</integer>
      <key>public.kern2.A</key>
      <integer>-6</integer>
      <key>public.kern2.J</key>
      <integer>-6</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
      <key>public.kern2.s</key>
      <integer>-4</integer>
      <key>public.kern2.v</key>
      <integer>-4</integer>
      <key>public.kern2.z</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>p</key>
      <integer>-75</integer>
      <key>public.kern2.A</key>
      <integer>-80</integer>
      <key>public.kern2.J</key>
      <integer>-76</integer>
      <key>public.kern2.S</key>
      <integer>-10</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-120</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-116</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-95</integer>
      <key>public.kern2.o</key>
      <integer>-120</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-116</integer>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
      <key>public.kern2.z</key>
      <integer>-111</integer>
      <key>x</key>
      <integer>-70</integer>
      <key>y</key>
      <integer>-70</integer>
      <key>yacute</key>
      <integer>-70</integer>
      <key>ycircumflex</key>
      <integer>-70</integer>
      <key>ydieresis</key>
      <integer>-70</integer>
      <key>ydotaccent</key>
      <integer>-70</integer>
      <key>ydotbelow</key>
      <integer>-70</integer>
      <key>ygrave</key>
      <integer>-70</integer>
      <key>yhookabove</key>
      <integer>-70</integer>
      <key>ymacron</key>
      <integer>-70</integer>
      <key>ytilde</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>p</key>
      <integer>-100</integer>
      <key>public.kern2.A</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-76</integer>
      <key>public.kern2.O</key>
      <integer>-16</integer>
      <key>public.kern2.S</key>
      <integer>-16</integer>
      <key>public.kern2.Z</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-105</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.g</key>
      <integer>-121</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.n</key>
      <integer>-75</integer>
      <key>public.kern2.o</key>
      <integer>-120</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.s</key>
      <integer>-121</integer>
      <key>public.kern2.t</key>
      <integer>-70</integer>
      <key>public.kern2.u</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-75</integer>
      <key>public.kern2.z</key>
      <integer>-95</integer>
      <key>x</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>-44</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-60</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-85</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-90</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.leftquote</key>
      <integer>10</integer>
      <key>public.kern2.rightquote</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>X</key>
      <integer>-4</integer>
      <key>public.kern2.T</key>
      <integer>40</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>16</integer>
      <key>public.kern2.leftquote</key>
      <integer>80</integer>
      <key>public.kern2.period</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-1</integer>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
      <key>public.kern2.Z</key>
      <integer>16</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>10</integer>
    </dict>
    <key>public.kern1.leftquote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-150</integer>
      <key>public.kern2.J</key>
      <integer>-150</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-76</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
      <key>public.kern2.leftquote</key>
      <integer>-10</integer>
      <key>public.kern2.rightquote</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.n.alt</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-50</integer>
      <key>public.kern2.V</key>
      <integer>-76</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-116</integer>
      <key>public.kern2.Y</key>
      <integer>-120</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-150</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-150</integer>
      <key>public.kern2.Y</key>
      <integer>-150</integer>
      <key>public.kern2.leftquote</key>
      <integer>-150</integer>
      <key>public.kern2.rightquote</key>
      <integer>-150</integer>
      <key>public.kern2.v</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-40</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-73</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
      <key>public.kern2.period</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.rightquote</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-110</integer>
      <key>public.kern2.period</key>
      <integer>-150</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-90</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>X</key>
      <integer>-50</integer>
      <key>public.kern2.A</key>
      <integer>-90</integer>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.period</key>
      <integer>-80</integer>
    </dict>
    <key>public.kern1.z</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-75</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-30</integer>
      <key>public.kern2.V</key>
      <integer>-75</integer>
      <key>public.kern2.Y</key>
      <integer>-100</integer>
    </dict>
    <key>seven</key>
    <dict>
      <key>eight</key>
      <integer>-30</integer>
      <key>four</key>
      <integer>-145</integer>
      <key>six</key>
      <integer>-10</integer>
      <key>two</key>
      <integer>-20</integer>
      <key>zero</key>
      <integer>-30</integer>
    </dict>
    <key>tcaron</key>
    <dict>
      <key>i</key>
      <integer>0</integer>
      <key>j</key>
      <integer>0</integer>
    </dict>
    <key>x</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-70</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
    </dict>
  </dict>
</plist>
