<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>left_A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Abreve</string>
      <string>Abrevedotbelow</string>
      <string>Abreveacute</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Atilde</string>
      <string>Amacron</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Ahookabove</string>
      <string>Adotbelow</string>
      <string>Adblgrave</string>
      <string>Ainvertedbreve</string>
      <string>Aogonek</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Abreve</string>
      <string>Abrevedotbelow</string>
      <string>Abreveacute</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Atilde</string>
      <string>Amacron</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Ahookabove</string>
      <string>Adotbelow</string>
      <string>Adblgrave</string>
      <string>Ainvertedbreve</string>
      <string>Aogonek</string>
      <string>AEacute</string>
      <string>AE</string>
    </array>
    <key>left_H</key>
    <array>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>K</string>
      <string>L</string>
      <string>P</string>
      <string>R</string>
      <string>LJ</string>
      <string>IJ</string>
      <string>IJacute</string>
      <string>Dzcaron</string>
      <string>Lj</string>
      <string>Dcaron</string>
      <string>Eacute</string>
      <string>Egrave</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Hcircumflex</string>
      <string>Ecircumflextilde</string>
      <string>Kcommaaccent</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Ecaron</string>
      <string>Ebreve</string>
      <string>Edieresis</string>
      <string>Etilde</string>
      <string>Emacron</string>
      <string>Edotaccent</string>
      <string>Ehookabove</string>
      <string>Edotbelow</string>
      <string>Eogonek</string>
      <string>Edblgrave</string>
      <string>Einvertedbreve</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rinvertedbreve</string>
    </array>
    <key>left_I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Igrave</string>
      <string>Icircumflex</string>
      <string>Ibreve</string>
      <string>Itilde</string>
      <string>Imacron</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Ihookabove</string>
      <string>Idotbelow</string>
      <string>Idblgrave</string>
      <string>Iinvertedbreve</string>
      <string>Iogonek</string>
    </array>
    <key>left_N</key>
    <array>
      <string>N</string>
      <string>numero</string>
      <string>naira</string>
      <string>Nj</string>
      <string>NJ</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ntilde</string>
      <string>Ncommaaccent</string>
    </array>
    <key>left_O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>cedi</string>
      <string>Oslash</string>
      <string>Ohorn</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Ccaron</string>
      <string>Cdotaccent</string>
      <string>Ccedilla</string>
      <string>Gcircumflex</string>
      <string>Gcaron</string>
      <string>Gbreve</string>
      <string>Gdotaccent</string>
      <string>Gcommaaccent</string>
      <string>Oacute</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Obreve</string>
      <string>Otilde</string>
      <string>Omacron</string>
      <string>Odieresismacron</string>
      <string>Otildemacron</string>
      <string>Odotaccentmacron</string>
      <string>Odieresis</string>
      <string>Oogonek</string>
      <string>Ohookabove</string>
      <string>Odotbelow</string>
      <string>Odblgrave</string>
      <string>Oinvertedbreve</string>
      <string>Ohornacute</string>
      <string>Ohorngrave</string>
      <string>Ohorntilde</string>
      <string>Ohornhookabove</string>
      <string>Ohorndotbelow</string>
      <string>Oslashacute</string>
      <string>OE</string>
    </array>
    <key>left_S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scaron</string>
      <string>Scommaaccent</string>
      <string>Scedilla</string>
    </array>
    <key>left_T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcommaaccent</string>
      <string>Tcedilla</string>
    </array>
    <key>left_U</key>
    <array>
      <string>U</string>
      <string>Uhorn</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Ucircumflex</string>
      <string>Ubreve</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Udieresis</string>
      <string>Uring</string>
      <string>Udotbelow</string>
      <string>Uogonek</string>
      <string>Udblgrave</string>
      <string>Uinvertedbreve</string>
      <string>Uhornacute</string>
      <string>Uhorngrave</string>
      <string>Uhorntilde</string>
      <string>Uhornhookabove</string>
      <string>Uhorndotbelow</string>
      <string>Uhoi</string>
    </array>
    <key>left_W</key>
    <array>
      <string>Y</string>
      <string>Ydotbelow</string>
      <string>Yhookabove</string>
      <string>Ydieresis</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
      <string>Ycircumflex</string>
      <string>Ygrave</string>
      <string>Yacute</string>
      <string>Wdieresis</string>
      <string>Wcircumflex</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>won</string>
      <string>W</string>
      <string>V</string>
      <string>yen</string>
    </array>
    <key>left_Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>left_a</key>
    <array>
      <string>a</string>
      <string>ae</string>
      <string>schwa</string>
      <string>aacute</string>
      <string>agrave</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>acircumflexdotbelow</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>atilde</string>
      <string>amacron</string>
      <string>adieresis</string>
      <string>aringacute</string>
      <string>ahookabove</string>
      <string>adotbelow</string>
      <string>adblgrave</string>
      <string>ainvertedbreve</string>
      <string>abrevedotbelow</string>
      <string>aring</string>
      <string>aogonek</string>
      <string>aeacute</string>
    </array>
    <key>left_f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
      <string>fi</string>
      <string>fl</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
    </array>
    <key>left_g</key>
    <array>
      <string>g</string>
      <string>gcircumflex</string>
      <string>gcaron</string>
      <string>gbreve</string>
      <string>gdotaccent</string>
      <string>gcommaaccent</string>
    </array>
    <key>left_j</key>
    <array>
      <string>j</string>
      <string>dotlessj</string>
      <string>jacute</string>
      <string>jcircumflex</string>
    </array>
    <key>left_l</key>
    <array>
      <string>h</string>
      <string>k</string>
      <string>l</string>
      <string>thorn</string>
      <string>lslash</string>
      <string>lj</string>
      <string>hcircumflex</string>
      <string>kcommaaccent</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
    </array>
    <key>left_n</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>i</string>
      <string>r</string>
      <string>dotlessi</string>
      <string>eng</string>
      <string>kra</string>
      <string>ij</string>
      <string>ijacute</string>
      <string>nj</string>
      <string>iacute</string>
      <string>igrave</string>
      <string>icircumflex</string>
      <string>ibreve</string>
      <string>itilde</string>
      <string>imacron</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>ihookabove</string>
      <string>idotbelow</string>
      <string>idblgrave</string>
      <string>iinvertedbreve</string>
      <string>iogonek</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ntilde</string>
      <string>ncommaaccent</string>
      <string>napostrophe</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rinvertedbreve</string>
    </array>
    <key>left_o</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>o</string>
      <string>q</string>
      <string>oe</string>
      <string>eth</string>
      <string>dcroat</string>
      <string>oslash</string>
      <string>ohorn</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>ccaron</string>
      <string>cdotaccent</string>
      <string>ccedilla</string>
      <string>eacute</string>
      <string>egrave</string>
      <string>ecircumflex</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>ecaron</string>
      <string>ebreve</string>
      <string>etilde</string>
      <string>emacron</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>ehookabove</string>
      <string>edotbelow</string>
      <string>eogonek</string>
      <string>edblgrave</string>
      <string>einvertedbreve</string>
      <string>oacute</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>ocircumflex</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>obreve</string>
      <string>otilde</string>
      <string>omacron</string>
      <string>odieresismacron</string>
      <string>otildemacron</string>
      <string>odotaccentmacron</string>
      <string>odieresis</string>
      <string>ohookabove</string>
      <string>odotbelow</string>
      <string>oogonek</string>
      <string>odblgrave</string>
      <string>oinvertedbreve</string>
      <string>ohornacute</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohorndotbelow</string>
      <string>oslashacute</string>
      <string>dzcaron</string>
    </array>
    <key>left_period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>left_quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>left_quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>left_s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scaron</string>
      <string>scommaaccent</string>
      <string>scedilla</string>
    </array>
    <key>left_t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcommaaccent</string>
      <string>tcedilla</string>
    </array>
    <key>left_u</key>
    <array>
      <string>u</string>
      <string>mu</string>
      <string>uhorn</string>
      <string>uacute</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>ucircumflex</string>
      <string>ubreve</string>
      <string>utilde</string>
      <string>umacron</string>
      <string>udieresis</string>
      <string>uring</string>
      <string>udotbelow</string>
      <string>uogonek</string>
      <string>udblgrave</string>
      <string>uinvertedbreve</string>
      <string>uhoi</string>
      <string>uhornacute</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhorndotbelow</string>
    </array>
    <key>left_w</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
      <string>wacute</string>
      <string>wgrave</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>yacute</string>
      <string>ygrave</string>
      <string>ycircumflex</string>
      <string>ytilde</string>
      <string>ymacron</string>
      <string>ydieresis</string>
      <string>yhookabove</string>
      <string>ydotbelow</string>
    </array>
    <key>left_z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>left_zerosuperior</key>
    <array>
      <string>zero.superior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>four.superior</string>
      <string>degree</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
    </array>
    <key>right_A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Abreve</string>
      <string>Abrevedotbelow</string>
      <string>Abreveacute</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Atilde</string>
      <string>Amacron</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Ahookabove</string>
      <string>Adotbelow</string>
      <string>Adblgrave</string>
      <string>Ainvertedbreve</string>
      <string>Aogonek</string>
    </array>
    <key>right_C</key>
    <array>
      <string>C</string>
      <string>colonmonetary</string>
      <string>cedi</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Ccaron</string>
      <string>Cdotaccent</string>
      <string>Ccedilla</string>
    </array>
    <key>right_E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Egrave</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Ecaron</string>
      <string>Ebreve</string>
      <string>Edieresis</string>
      <string>Etilde</string>
      <string>Emacron</string>
      <string>Edotaccent</string>
      <string>Ehookabove</string>
      <string>Edotbelow</string>
      <string>Eogonek</string>
      <string>Edblgrave</string>
      <string>Einvertedbreve</string>
      <string>AEacute</string>
    </array>
    <key>right_G</key>
    <array>
      <string>G</string>
      <string>guarani</string>
      <string>Gcircumflex</string>
      <string>Gcaron</string>
      <string>Gbreve</string>
      <string>Gdotaccent</string>
      <string>Gcommaaccent</string>
    </array>
    <key>right_H</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
    </array>
    <key>right_I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Igrave</string>
      <string>Icircumflex</string>
      <string>Ibreve</string>
      <string>Itilde</string>
      <string>Imacron</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Ihookabove</string>
      <string>Idotbelow</string>
      <string>Idblgrave</string>
      <string>Iinvertedbreve</string>
      <string>Iogonek</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
      <string>J</string>
    </array>
    <key>right_L</key>
    <array>
      <string>L</string>
      <string>Lslash</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
    </array>
    <key>right_O</key>
    <array>
      <string>O</string>
      <string>D</string>
      <string>Q</string>
      <string>Schwa</string>
      <string>Oslash</string>
      <string>Dcaron</string>
      <string>Eth</string>
      <string>Dcroat</string>
      <string>Oslash</string>
      <string>Ohorn</string>
      <string>Dcaron</string>
      <string>Oacute</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Obreve</string>
      <string>Otilde</string>
      <string>Omacron</string>
      <string>Odieresismacron</string>
      <string>Otildemacron</string>
      <string>Odotaccentmacron</string>
      <string>Odieresis</string>
      <string>Oogonek</string>
      <string>Ohookabove</string>
      <string>Odotbelow</string>
      <string>Odblgrave</string>
      <string>Oinvertedbreve</string>
      <string>Ohornacute</string>
      <string>Ohorngrave</string>
      <string>Ohorntilde</string>
      <string>Ohornhookabove</string>
      <string>Ohorndotbelow</string>
      <string>Oslashacute</string>
    </array>
    <key>right_R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rinvertedbreve</string>
    </array>
    <key>right_S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scaron</string>
      <string>Scommaaccent</string>
      <string>Scedilla</string>
    </array>
    <key>right_T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcommaaccent</string>
      <string>Tcedilla</string>
    </array>
    <key>right_U</key>
    <array>
      <string>U</string>
      <string>Uhorn</string>
      <string>Uacute</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Ucircumflex</string>
      <string>Ubreve</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Udieresis</string>
      <string>Uring</string>
      <string>Udotbelow</string>
      <string>Uogonek</string>
      <string>Udblgrave</string>
      <string>Uinvertedbreve</string>
      <string>Uhornacute</string>
      <string>Uhorngrave</string>
      <string>Uhorntilde</string>
      <string>Uhornhookabove</string>
      <string>Uhorndotbelow</string>
      <string>Uhoi</string>
    </array>
    <key>right_W</key>
    <array>
      <string>V</string>
      <string>W</string>
      <string>Y</string>
      <string>yen</string>
      <string>won</string>
      <string>Wacute</string>
      <string>Wgrave</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Yacute</string>
      <string>Ygrave</string>
      <string>Ycircumflex</string>
      <string>Ytilde</string>
      <string>Ymacron</string>
      <string>Ydieresis</string>
      <string>Yhookabove</string>
      <string>Ydotbelow</string>
    </array>
    <key>right_Z</key>
    <array>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Z</string>
    </array>
    <key>right_a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>agrave</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>acircumflexdotbelow</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>atilde</string>
      <string>amacron</string>
      <string>adieresis</string>
      <string>aringacute</string>
      <string>ahookabove</string>
      <string>adotbelow</string>
      <string>adblgrave</string>
      <string>ainvertedbreve</string>
      <string>abrevedotbelow</string>
      <string>aring</string>
      <string>aogonek</string>
    </array>
    <key>right_e</key>
    <array>
      <string>c</string>
      <string>e</string>
      <string>ae</string>
      <string>oe</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>ccaron</string>
      <string>cdotaccent</string>
      <string>ccedilla</string>
      <string>eacute</string>
      <string>egrave</string>
      <string>ecircumflex</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>ecaron</string>
      <string>ebreve</string>
      <string>etilde</string>
      <string>emacron</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>ehookabove</string>
      <string>edotbelow</string>
      <string>eogonek</string>
      <string>edblgrave</string>
      <string>einvertedbreve</string>
    </array>
    <key>right_f</key>
    <array>
      <string>f</string>
      <string>f_f</string>
    </array>
    <key>right_g</key>
    <array>
      <string>g</string>
      <string>gcircumflex</string>
      <string>gcaron</string>
      <string>gbreve</string>
      <string>gdotaccent</string>
      <string>gcommaaccent</string>
    </array>
    <key>right_j</key>
    <array>
      <string>j</string>
      <string>dotlessj</string>
      <string>ij</string>
      <string>ijacute</string>
      <string>lj</string>
      <string>nj</string>
      <string>jacute</string>
      <string>jcircumflex</string>
    </array>
    <key>right_k</key>
    <array>
      <string>k</string>
      <string>kra</string>
      <string>kcommaaccent</string>
    </array>
    <key>right_l</key>
    <array>
      <string>d</string>
      <string>l</string>
      <string>fl</string>
      <string>f_f_l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
    </array>
    <key>right_n</key>
    <array>
      <string>m</string>
      <string>h</string>
      <string>n</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ntilde</string>
      <string>ncommaaccent</string>
      <string>napostrophe</string>
    </array>
    <key>right_o</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>p</string>
      <string>schwa</string>
      <string>thorn</string>
      <string>oslash</string>
      <string>ohorn</string>
      <string>oacute</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>ocircumflex</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>obreve</string>
      <string>otilde</string>
      <string>omacron</string>
      <string>odieresismacron</string>
      <string>otildemacron</string>
      <string>odotaccentmacron</string>
      <string>odieresis</string>
      <string>ohookabove</string>
      <string>odotbelow</string>
      <string>oogonek</string>
      <string>odblgrave</string>
      <string>oinvertedbreve</string>
      <string>ohornacute</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohorndotbelow</string>
      <string>oslashacute</string>
    </array>
    <key>right_period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>ellipsis</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>right_quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>right_quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>right_r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rinvertedbreve</string>
    </array>
    <key>right_s</key>
    <array>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scaron</string>
      <string>scommaaccent</string>
      <string>scedilla</string>
      <string>s</string>
    </array>
    <key>right_t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcommaaccent</string>
      <string>tcedilla</string>
    </array>
    <key>right_u</key>
    <array>
      <string>u</string>
      <string>uhorn</string>
      <string>uacute</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>ucircumflex</string>
      <string>ubreve</string>
      <string>utilde</string>
      <string>umacron</string>
      <string>udieresis</string>
      <string>uring</string>
      <string>udotbelow</string>
      <string>uogonek</string>
      <string>udblgrave</string>
      <string>uinvertedbreve</string>
      <string>uhoi</string>
      <string>uhornacute</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhorndotbelow</string>
    </array>
    <key>right_w</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>y</string>
      <string>wacute</string>
      <string>wgrave</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>yacute</string>
      <string>ygrave</string>
      <string>ycircumflex</string>
      <string>ytilde</string>
      <string>ymacron</string>
      <string>ydieresis</string>
      <string>yhookabove</string>
      <string>ydotbelow</string>
    </array>
    <key>right_z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>right_zerosuperior</key>
    <array>
      <string>degree</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>zero.superior</string>
      <string>onesuperior</string>
      <string>twosuperior</string>
      <string>threesuperior</string>
      <string>four.superior</string>
      <string>onequarter</string>
      <string>onehalf</string>
      <string>threequarters</string>
    </array>
  </dict>
</plist>
