<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>n</key>
	<dict>
		<key>quotesingle</key>
		<integer>-75</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>s</key>
		<integer>-75</integer>
	</dict>
</dict>
</plist>
