<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>F</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
    </dict>
    <key>P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>50</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>100</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-25</integer>
      <key>public.kern2.V</key>
      <integer>-25</integer>
      <key>public.kern2.Y</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-75</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-75</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-100</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.l</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-75</integer>
      <key>public.kern2.T</key>
      <integer>50</integer>
      <key>public.kern2.l</key>
      <integer>135</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-25</integer>
      <key>public.kern2.T</key>
      <integer>25</integer>
      <key>public.kern2.l</key>
      <integer>75</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>50</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.l</key>
      <integer>25</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.v</key>
      <integer>25</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>125</integer>
    </dict>
  </dict>
</plist>
