<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
  </dict>
</plist>
