<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B</key>
    <string>B_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Oogonek</key>
    <string>O_ogonek.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevecmb</key>
    <string>brevecmb.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>circumflexcmb</key>
    <string>circumflexcmb.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>hookcmb</key>
    <string>hookcmb.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcmb</key>
    <string>hungarumlautcmb.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macroncmb</key>
    <string>macroncmb.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>ogonekcmb</key>
    <string>ogonekcmb.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ringacute</key>
    <string>ringacute.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecmb</key>
    <string>tildecmb.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
  </dict>
</plist>
