<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1479.8</real>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>descender</key>
    <real>-480.2</real>
    <key>familyName</key>
    <string>Fraunces Beta</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <real>567.42</real>
        <key>y</key>
        <real>-14.85</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <real>837.3120000000001</real>
        <key>y</key>
        <real>-520.74</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>0.1818907524971836</real>
        <key>name</key>
        <string>numerals</string>
        <key>x</key>
        <real>173.46</real>
        <key>y</key>
        <real>607.86</real>
      </dict>
      <dict>
        <key>angle</key>
        <real>180.0</real>
        <key>name</key>
        <string>num_overshoot</string>
        <key>x</key>
        <real>-94.66799999999999</real>
        <key>y</key>
        <real>644.193</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>ordinal</string>
        <key>x</key>
        <real>320.46</real>
        <key>y</key>
        <real>301.95</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>markmax</string>
        <key>x</key>
        <real>241.07999999999998</real>
        <key>y</key>
        <real>891.0</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>top2</string>
        <key>x</key>
        <real>89.37599999999999</real>
        <key>y</key>
        <real>350.064</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>top1</string>
        <key>x</key>
        <real>73.20599999999999</real>
        <key>y</key>
        <real>467.874</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>top3</string>
        <key>x</key>
        <real>-96.43200000000003</real>
        <key>y</key>
        <real>442.629</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>top4</string>
        <key>x</key>
        <real>456.876</real>
        <key>y</key>
        <real>297.09900000000005</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>bottom1</string>
        <key>x</key>
        <real>556.15</real>
        <key>y</key>
        <real>456.687</real>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>bottom3</string>
        <key>x</key>
        <real>391.216</real>
        <key>y</key>
        <real>496.782</real>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <real>897.68</real>
  </dict>
</plist>
