<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <real>1555.9202457729</real>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>descender</key>
    <real>-504.9012718071</real>
    <key>familyName</key>
    <string>Fraunces</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>name</key>
        <string>ascender</string>
        <key>x</key>
        <real>122.42464552740002</real>
        <key>y</key>
        <real>1388.80095901236</real>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Light OpMin GoofyMin</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <real>919.12639684068</real>
  </dict>
</plist>
