<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1510</integer>
    <key>capHeight</key>
    <integer>1400</integer>
    <key>descender</key>
    <integer>-490</integer>
    <key>familyName</key>
    <string>Fraunces</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>h8q8FtRylt</string>
        <key>name</key>
        <string>top3</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>510</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>m0JL7otUvz</string>
        <key>name</key>
        <string>bottom2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>980</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>E2nd7tUF5l</string>
        <key>name</key>
        <string>top4</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>150</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>AZsy2N3blY</string>
        <key>name</key>
        <string>top2</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>590</integer>
      </dict>
    </array>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptFontName</key>
    <string>Fraunces-BlackOpMin</string>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Groups</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>xHeight</key>
    <integer>964</integer>
  </dict>
</plist>
