<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9D4CF03D-0A81-4590-99ED-43EDFE596414</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.A</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aacute</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Acircumflex</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Aogonek</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.B</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.D</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.E</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eogonek</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Eth</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Euro</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.F</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.G</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.H</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Hbar</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.I</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Iogonek</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.J</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.L</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.O</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oogonek</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Oslash</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.P</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.R</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.T</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Tbar</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Thorn</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.U</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uogonek</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.V</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Y</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Z</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.a</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aacute</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.abreve</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acircumflex</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.acute.cap</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ae</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.aogonek</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciicircum</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.asciitilde</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.b</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bar</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceleft</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketleft</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.bracketright</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breve.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.breveacute.cap</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevegrave.cap</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevehook.cap</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevetilde.cap</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.brokenbar</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.caron</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedi</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cedilla</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflex.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexacute.cap</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcmb</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexgrave.cap</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexhook.cap</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflextilde.cap</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.colon</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.comma</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.commaaccentbelowcmb</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dieresis</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.e</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eight</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ellipsis</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.emdash</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.endash</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eng</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eogonek</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclamdown</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.f_f_i</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.fhook</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.four</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.germandbls</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.grave</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greater</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.greaterequal</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetleft</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guillemetright</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglleft</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.guilsinglright</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.h.alt</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hbar</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hook.cap</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookcmb</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlaut.cap</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hyphen</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.i</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.iogonek</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.j</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.kra</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.l</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lessequal</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.logicalnot</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.m.alt</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.macron</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.minute</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.multiply</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.n.alt</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.nine</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.notequal</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.numbersign</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oe</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonek</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oogonek</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.p</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenleft</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.parenright</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.period</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.primedblmod</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.q</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.question</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.questiondown</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedbl</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblbase</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblleft</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotedblright</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quoteleft</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.quotesingle</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ring</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ringacute</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.s.alt</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.second</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.semicolon</key>
      <integer>15</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.seven</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.six</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.slash</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.t</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.thorn</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.three</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tilde</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.trademark</key>
      <integer>16</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.turnedcommaabovecmb</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.u</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.udotbelow</key>
      <integer>14</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>19</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.underscore</key>
      <integer>18</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uogonek</key>
      <integer>17</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.w</key>
      <integer>22</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>21</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>23</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>20</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.zero</key>
      <integer>17</integer>
      <key>com.typemytype.robofont.layerShow</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowCoordinates</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowFill</key>
      <integer>0</integer>
      <key>com.typemytype.robofont.layerShowPoints</key>
      <integer>1</integer>
      <key>com.typemytype.robofont.layerShowStroke</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
