<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1510</integer>
    <key>capHeight</key>
    <real>1400.0</real>
    <key>copyright</key>
    <string>Copyright 2020 The Fraunces Project Authors (github.com/undercasetype/Fraunces)</string>
    <key>descender</key>
    <integer>-490</integer>
    <key>familyName</key>
    <string>Fraunces</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Oxb4ZCUyNe</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>994</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>FznIijY7Yx</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-28</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>hvHIxsBhkP</string>
        <key>name</key>
        <string>desc</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-466</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>7nm96YsG0N</string>
        <key>name</key>
        <string>overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>1440</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>jk0pQPcFar</string>
        <key>name</key>
        <string>cap overshoot</string>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>-40</integer>
      </dict>
    </array>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>UTF</string>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Black OpMin GoofyMin</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>964</integer>
  </dict>
</plist>
